<div class="offcanvas offcanvas-start w-50" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Asignacion de leads</h5>
        <button id="offcanvasButton" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-md-12">
            <p><strong>Nombre:</strong> {{DataLead.Fullname}}</p>
            <p><strong>Email:</strong> {{DataLead.Email}}</p>
            <p><strong>Telefono:</strong> {{DataLead.Telefono}}</p>
        </div>
        <hr>
        <h2>Asignar el lead al Socio Comercial</h2>
        <div class="row g-3">
            <div class="col-md-12">
                <label for="inputState" class="form-label">Socio Comercial</label>
                <select id="inputState" class="form-select" (change)="changed($event)" [(ngModel)]="sociocid.id">
                    <option value="" selected>Selecciona un socio comercial</option>
                    <option  value="{{item.IdPersona}}"  *ngFor="let item of SociosComerciales">{{item.Nombre_completo}}</option>
                </select>
            </div>
            <div class="col-12">
                <button class="btn btn-success" (click)="asignarLead()">Asignar</button>
            </div>
            <div class="col-12 mt-3">
                <div class="text-center" id="response"></div>
            </div>
        </div>
    </div>
</div>