.img-cons{
    width: 43%;
}
.main-content{
    text-align: center;
}
.disabled
{
    pointer-events: none;
}
.bloqueo
{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: gray;
    opacity: 0.4;
}