
<div class="row m-b-30 m-t-30">
    <div class="col-lg-8">
        <div class="d-md-flex">
            <h1>Administrador de etapas</h1>
        </div>
    </div>
    <div class="col-lg-4 text-right">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#etapaModal">
            <i class="fas fa-plus-circle m-r-5"></i>
            Agregar Etapa
        </button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover e-commerce-table desarrollo-table">
        <thead>
            <tr>
                <th scope="col">Desarrollo</th>
                <th scope="col">Etapa</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let desarrollo of etapas">
                <td>{{desarrollo.Desarrollo}}</td>
                <td>{{desarrollo.Fase}}</td>
                <td>
                    <a [routerLink]="'editaretapa/'+desarrollo.IdEmpresa"
                        class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="spinner-grow" role="status" *ngIf="etapas.length < 1">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="etapaModal" tabindex="-1" aria-labelledby="etapaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="etapaModalLabel">Nueva Etapa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="mb-3">
                            <label for="nombreEtapa" class="form-label">Nombre de la Etapa</label>
                            <input type="text" class="form-control" id="nombreEtapa" placeholder="Nombre de la Etapa">
                            <div id="feedbacknombreEtapa" class="invalid-feedback"></div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="select_empresa">Desarrollo</label>
                            <select class="form-select" aria-label="Desarrollo">
                                <option value="" selected disabled>Selecciona una opción</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="isLoading">Crear</button>
            </div>
        </div>
    </div>
  </div>