<div class="page-container" [ngClass]="{'sidebar_is_full': app.sidebarState, 'sidebar_is_small': !app.sidebarState}">

    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="card">
            <div class="header-card">
                <h2>Informacion de los Desarrollos</h2>
            </div>
            <div class="card-body">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <div class="accordion-header" id="headingOne">
                            <button
                                class="flex-row accordion-button collapsed btn-noaccordion number-accordion-two title-btn-acordion"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <div class="row width100 pt-0">
                                    <div class="col-md-6 row ms-2 item-center">
                                        <h2 class="m-0 col-auto">Desarrollo</h2>
                                        <div class="col-auto desselect" #desselect>
                                            <div class="desarrollobefore" #desarrollobefore></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row flex-start">
                                            <div class="col-auto">
                                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#multiCollapseExample1" aria-expanded="false"
                                                    aria-controls="multiCollapseExample2"><i
                                                        class="fas fa-plus-circle me-1"></i>Agregar</button>
                                            </div>
                                            <div class="col-auto">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div id="collapseOne" class="accordion-collapse collapse show vertical-line"
                            aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row g3 mb-5">
                                    <div class="col-lg-12">
                                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                                            <form class="row pt-0">
                                                <div class="col-auto">
                                                    <input type="text" data-bs-toggle="collapse" name="desname"
                                                        [(ngModel)]="dessave.Desarrollo" class="form-control"
                                                        name="desarrollo" placeholder="Desarrollo">
                                                </div>
                                                <div class="col-auto">
                                                    <select class="form-select" aria-label="Selecciona empresa"
                                                        [(ngModel)]="dessave.IdEmpresa" name="desempresa">
                                                        <option [value]="undefined" disabled>Empresa</option>
                                                        <option *ngFor="let empresa of empresas"
                                                            value="{{empresa.IdEmpresaDes}}">{{empresa.RazonSocial}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-auto">
                                                    <select class="form-select" aria-label="Selecciona Machote"
                                                        [(ngModel)]="dessave.IdContrato" name="descontrato">
                                                        <option [value]="undefined" disabled>Contrato</option>
                                                        <option *ngFor="let contrato of contratos"
                                                            value="{{contrato.IdContrato}}">{{contrato.Nombre}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-auto">
                                                    <button type="button" (click)="guardarDes()"
                                                        class="btn btn-success mb-3" [disabled]="isLoadingDes"><i
                                                            class="fas fa-save me-1"></i>Guardar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <form class="row g-3">
                                    <div class="col-lg-12">
                                        <div class="list-group" *ngFor="let desarrollo of desarrollos">
                                            <button type="button"
                                                (click)="selectdes(desarrollo.IdDesarrollo,desarrollo.Desarrollo)"
                                                class="list-group-item list-group-item-action" data-bs-toggle="collapse"
                                                data-bs-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                {{desarrollo.Desarrollo}}
                                                <a [routerLink]="'editardesarrollo/'+desarrollo.IdDesarrollo"
                                                    class="btn btn-icon btn-abs btn-hover btn-sm btn-rounded pull-right">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                            </button>
                                        </div>
                                        <div class="d-flex justify-content-center" *ngIf="isLoadingDes">
                                            <div class="spinner-border" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header" id="headingTwo">
                            <button
                                class="flex-row accordion-button collapsed btn-noaccordion number-accordion-three title-btn-acordion"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                <div class="row width100 pt-0">
                                    <div class="col-md-6 row ms-2 item-center">
                                        <h2 class="m-0 col-auto">Etapa</h2>
                                        <div class="ms-4 col-auto etapaselect" #etapaselect>
                                            <div class="etapabefore" #etapabefore></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row flex-start">
                                            <div class="col-auto">
                                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#multiCollapseExample2" aria-expanded="false"
                                                    aria-controls="multiCollapseExample2"><i
                                                        class="fas fa-plus-circle me-1"></i>Agregar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div id="collapseTwo" class="accordion-collapse collapse vertical-line"
                            aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row g-3 mb-5">
                                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                                        <form class="row pt-0">
                                            <div class="col-auto">
                                                <input type="text" data-bs-toggle="collapse" [(ngModel)]="etasave.etapa"
                                                    class="form-control" name="etapa" placeholder="Etapa">
                                            </div>
                                            <div class="col-auto">
                                                <button type="button" (click)="guardarEta()"
                                                    class="btn btn-success mb-3" data-bs-toggle="collapse"><i
                                                        class="fas fa-save me-1"></i>Guardar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <form class="row g-3">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <nav>
                                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                    <a *ngFor="let etapa of etapas"
                                                        (click)="selecteta(etapa.IdFase,etapa.Fase,etapa.IdDesarrollo)"
                                                        class="nav-link" id="list-home-list{{etapa.Fase}}"
                                                        data-bs-toggle="list" href="#list-home{{etapa.Fase}}" role="tab"
                                                        aria-controls="list-home">
                                                        Etapa - {{etapa.Fase}}
                                                        <!-- <a [routerLink]="'editaretapa/'+etapa.IdEtapa"
                                                            class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                                            <i class="fas fa-edit"></i>
                                                        </a> -->
                                                    </a>
                                                </div>
                                            </nav>

                                            <div class="tab-content" id="nav-tabContent">
                                                <div class="text-end">
                                                    <button class="btn-primary btn-sm mb-1 me-1" type="button"
                                                        data-bs-toggle="modal" data-bs-target="#massiveLote"><i
                                                            class="fas fa-sync"></i> Generacion masiva</button>

                                                    <button class="btn-primary btn-sm mb-1" type="button"
                                                        data-bs-toggle="collapse" href="#addLoteCollapse"
                                                        aria-expanded="false" aria-controls="addLoteCollapse"><i
                                                            class="fas fa-plus-circle me-1"></i>Agregar</button>
                                                </div>
                                                <div class="collapse" id="addLoteCollapse">
                                                    <div class="card card-body">
                                                        <app-add-lote [desarrollo]="desIdSelected"
                                                            [etapa]="faseIdSelected"></app-add-lote>
                                                    </div>
                                                </div>
                                                <div *ngFor="let etapa of etapas" class="tab-pane fade show"
                                                    id="list-home{{etapa.Fase}}" role="tabpanel"
                                                    aria-labelledby="list-home-list">
                                                    <div class="list-group listLote">
                                                        <button *ngFor="let lote of lotes" type="button"
                                                            class="list-group-item list-group-item-action"
                                                            aria-current="true">
                                                            Lote - {{lote.nombre}}
                                                            <a [routerLink]="'editarlote/'+lote.IdLote"
                                                                class="btn btn-icon btn-abs btn-hover btn-sm btn-rounded pull-right">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="addlote">

                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center" *ngIf="isLoadingEta">
                                            <div class="spinner-border" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->

    <!-- Modal -->
    <div class="modal fade" id="massiveLote" tabindex="-1" aria-labelledby="massiveLoteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="massiveLoteLabel">Generar lotes masivamente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-add-lote-masivo [desarrollo]="desIdSelected" [etapa]="faseIdSelected" (onInsertLotes)="lotes=$event"></app-add-lote-masivo>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer START -->
    <footer class="footer">
        <div class="footer-content">
            <p class="mb-0"> </p>
        </div>
    </footer>
    <!-- Footer END -->

</div>