<div class="table-responsive">
  <table class="table table-hover historico">
    <thead>
      <tr>
        <th scope="col">Inversionista</th>
        <th scope="col">Lote</th>
        <th scope="col">Encuesta aplicada</th>
        <th scope="col">Última actividad</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let encuesta of historico; let i = index">
        <tr
          data-bs-toggle="offcanvas"
          data-bs-target="#EditarEncuesta"
          (click)="seleccionar(encuesta)"
        >
          <td>{{ encuesta.Inversionista }}</td>
          <td>{{ encuesta.Lote }}</td>
          <td>{{ encuesta.NombreEncuesta }}</td>
          <td>{{ encuesta.Actividad }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="EditarEncuesta"
  aria-labelledby="EditarEncuestaLabel"
>
  <div class="offcanvas-header">
    <div>
      <p>Encuesta a {{ encuesta.Inversionista }}</p>
      <h6 id="EditarEncuestaLabel">
        Ultima actividad: <b>{{ encuesta.Actividad }}</b>
      </h6>
    </div>

    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="row">
      <div class="col-md-7">
        <div class="preguntas">
          <ng-container
            *ngFor="
              let pregunta of encuesta.preguntas;
              let y = index;
              trackBy: trackByIndex
            "
          >
            <div class="pregunta">
              <h6> <b>{{y+1}}.-</b> {{ pregunta.pregunta }}</h6>

              <div [ngSwitch]="pregunta.tipo">
                <div *ngSwitchCase="1">
                  <textarea
                    class="form-control"
                    [(ngModel)]="encuesta.respuestas[y].valor"
                    cols="30"
                    rows="3"
                  ></textarea>
                </div>
                <div class="d-flex flex-wrap" *ngSwitchCase="2">
                  <ng-container
                    *ngFor="let opcion of pregunta.opciones; let i = index"
                  >
                    <div class="opcion">
                      <input
                        type="radio"
                        class="btn-check"
                        name="pregunta{{ y }}{{ i }}"
                        [(ngModel)]="encuesta.respuestas[y].valor"
                        value="{{ opcion.valor }}"
                        id="pregunta{{ y }}option{{ i }}"
                        autocomplete="off"
                      />
                      <label
                        class="btn btn-secondary"
                        for="pregunta{{ y }}option{{ i }}"
                        >{{ opcion.valor }}
                      </label>
                    </div>
                  </ng-container>
                  <div *ngIf="pregunta.Otro" class="opcion" [ngClass]="{'w-100': encuesta.respuestas[y].valor == 'Otro'}">
                    <input
                      type="radio"
                      class="btn-check"
                      name="pregunta{{ y }}Otro"
                      [(ngModel)]="encuesta.respuestas[y].valor"
                      value="Otro"
                      id="pregunta{{ y }}optionOtro"
                      autocomplete="off"
                    />
                    <label
                      class="btn btn-secondary d-flex align-items-center"
                      for="pregunta{{ y }}optionOtro"
                      >Otro
                      <input
                        type="text"
                        class="form-otro ms-2"
                        [(ngModel)]="encuesta.respuestas[y].Otro"
                        placeholder="Especifique"
                        *ngIf="encuesta.respuestas[y].valor == 'Otro'"
                      />
                    </label>
                  </div>
                </div>
                <div class="d-flex flex-wrap" *ngSwitchCase="3">
                  <ng-container
                    *ngFor="let opcion of pregunta.opciones; let i = index"
                  >
                    <div class="opcion">
                      <input
                        type="checkbox"
                        class="btn-check"
                        name="pregunta{{ y }}[]"
                        value="{{ opcion.valor }}"
                        id="pregunta{{ y }}option{{ i }}"
                        autocomplete="off"
                        [checked]="checkeado(y, opcion)"
                      />
                      <label
                        class="btn btn-secondary"
                        for="pregunta{{ y }}option{{ i }}"
                        >{{ opcion.valor }}
                      </label>
                    </div>
                  </ng-container>
                  <div *ngIf="pregunta.Otro" class="opcion w-100">
                    <input
                      type="checkbox"
                      class="btn-check"
                      name="pregunta{{ y }}[]"
                      value="Otro"
                      id="pregunta{{ y }}optionOtro"
                      autocomplete="off"
                      [checked]="checkeado(y, {valor:'Otro'})"
                    />
                    <label
                      class="btn btn-secondary d-flex align-items-center"
                      for="pregunta{{ y }}optionOtro"
                      >Otro
                      <input
                        type="text"
                        id="otro{{y}}"
                        class="ms-2 form-control"
                        placeholder="Especifique"
                      />
                    </label>
                  </div>
                </div>
                <div *ngSwitchDefault>output2</div>
              </div>
            </div>
          </ng-container>

          <button class="btn btn-primary" (click)="mo()">
            Guardar respuestas
          </button>
        </div>
      </div>
      <div class="col-md-5">
        <p class="fw-bold">Información</p>
        <p>Lotes</p>
        <h6
          *ngIf="!encuesta.IdHR"
          [ngClass]="{ 'text-danger': encuesta.IdHr == 0 }"
        >
          Selecciona el lote para el cual aplica la encuesta
        </h6>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Lote</th>
                <th scope="col">Finalización HR</th>
                <th scope="col">Encuesta</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let hr of encuesta.HRS; let i = index">
                <tr
                 
                  [ngClass]="{ loteSe: encuesta.IdHR == hr.IdHR }"
                >
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ hr.Lote }}</td>
                  <td>{{ hr.Fecha }}</td>
                  <td> {{hr.Encuesta}} </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
