.titulo{
    border: none;   
}
.modal-header{
    padding: 1rem 1rem 1rem 0;
}
.pregunta{
    margin-bottom: 30px;
    position: relative;
}
.eliminar{
    position: absolute;
    right: 0;
    background-color: red;
    color: white;
}
.redondo{
    border-radius: 2rem;
}
.table-responsive {
    max-height: calc(100vh - 260px);
  }
  
  thead{
    position: sticky;
    top: 0;
    background-color: #0e1d60;
    color: white;
    border-bottom: 1px solid black;
  }

  .preguntat {
    padding: 0.375rem 2.75rem 0.375rem 1.75rem!important;
  }
  .numero {
    position: absolute;
    left: 5px;
    top:0.45rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;

  }