<div class="page-container" [ngClass]="{'sidebar_is_full': app.sidebarState, 'sidebar_is_small': !app.sidebarState}">

  <!-- Content Wrapper START -->
  <div class="main-content">
    <!-- Button trigger modal -->
    <button type="button"  id="add" class="btn " style="background: #687454;" data-bs-toggle="modal" data-bs-target="#exampleModal"
      (click)="actualizarfecha()">
      <i class="fas fa-plus-circle"></i> Crear nuevo usuario
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Crear nuevo usuario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label for="">Nombre</label>
            <input type="text" class="form-control nombre" [(ngModel)]="newusuario">
            <label for="">Apellido</label>
            <input type="text" class="form-control" [(ngModel)]="newapellido">
            <label for=""> Correo</label>
            <input type="email" class="form-control" [(ngModel)]="newcorreo" required>
            <label for=""> Telefono</label>
            <input type="email" class="form-control email" [(ngModel)]="newtelefono" required>
            <label for="">Tipo de usuario</label>
            <select class="form-control tipo_usuario" (change)="change()" name="tipo_usuario" [(ngModel)]="id_newperfil">
              <option [value]="null" disabled>Selecciona una opción</option>
              <option [value]="il.IdPerfil" *ngFor="let il of tipo_personas"> {{ il.Nombre}}</option> </select>
            <input type="text" name="fecha" class="form-control fecha" id="fecha" [(ngModel)]="fech" readonly hidden>
            <input type="text" name="fecha" class="form-control usuario" id="usuario" [(ngModel)]="usuario" readonly hidden>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" (click)="CrearUsuario()" data-bs-dismiss="modal">Crear
              usuario</button>
          </div>
        </div>
      </div>
    </div>
    <app-datatable [dataList]="personas" [config]="configDataTable" [loading]="loading"></app-datatable>
  </div>

  <!-- Content Wrapper END -->

  <!-- Footer START -->
  <app-footer></app-footer>
  <!-- Footer END -->

</div>
