<div class="page-container" [ngClass]="{'sidebar_is_full': app.sidebarState, 'sidebar_is_small': !app.sidebarState}">
  <div class="main-content d-flex flex-column ">



    
      
      <iframe title="Dashboard Rainforest" style="height: 100vh;
      width: 100%;" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNmZmMTk2NjgtZjg1YS00NjIwLWI1N2EtYmM4MmY2NzU4YjFkIiwidCI6ImM5YzM4Nzk5LTkzZGUtNDFhMy1hMmE1LTIzMThkZmZhNzgyYSJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
    <svg style="background-color: #fdfdfd;
       position: absolute;
       width: 100%;
           height: 8.7%;
       bottom: -120px;">
      <rect />
    </svg>
  </div>
</div>