<div class="page-container" [ngClass]="{'sidebar_is_full': app.sidebarState, 'sidebar_is_small': !app.sidebarState}">

   
      

   

    <!-- Content Wrapper START -->
    <div class="main-content">
        <h2>Estadisticas</h2>
       
        <div class="row">
            <div class="col-md-11" style="text-align: end;
            position: fixed !important;
            margin-bottom: 10px;
            left: 8.8vw;
            top: 70px;
            z-index: 10;">
                <button type="button" class="btn btn btn-secondary"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fas fa-ellipsis-v"></i></button>
            </div>
           
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" id="item-1">
                        <h3>Lotes Vendidos</h3>
                    </div>
                    <div class="card-body row">
                        <div class="d-flex justify-content-center overlay backgroundOverlay" *ngIf="loaderLotesVendidos">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <!-- GRAFICA UNO #1 -->
                        <div class="canvasChart ChartLotesVendidos col-xl-10 col-lg-12 col-md-12 ms-auto me-auto">
                            <canvas class="chart lotesVendidos chartjs-render-monitor" #salesChart id="sales-chart" style="display: block;"></canvas>
                            <div class="col-12 d-flex">
                                <!-- LA FUNCION ENVIA DOS PARAMETROS EL TIPO DELA GRAFICA Y EL NUMERO DE LA GRAFICA.
                                En este caso viene siendo el tipo de la grafica numero uno y la grafica numero uno
                                enviar en orden (numero-del-tipo-de-grafica,numero-de-la-grafica) -->
                                <div class="col-md-4 titleTotalInv" id="titleTotalInv">
                                    <button class="btn btn-primary me-4 2021" id="2021" (click)="veranio($event)" #2021 value="2021">2021</button>
                                    <button class="btn btn-primary me-4 2022" id="2022" (click)="veranio($event)" #2022 value="2022">2022</button>
                                    <br>
                                    <p class="text-start fs-6 titleti mt-5" style="text-transform:uppercase">Total de inversiones <strong>{{TotalesDesarrollosVendidos.total}}</strong></p>
                                    <button class="btn btn-outline-info btnGrafica" id="btnGrafica" (click)="ImprimirGrafica(1,listabotonesprint.btnprintuno)">Imprimir Grafica</button>
                                </div>
                                <div class="col-md-8 tabledata">;
                                    <table class="table" id="tabledata">
                                        <tbody class="InfoHRs">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="infoChart col-xl-2 col-lg-12 col-md-12 ms-auto me-auto" *ngIf="loaderLotesVendidos === false">
                            <div class="row mt-5" >
                                <div class="flex-button"  >
                                    <button type="button" style="width: 100% !important;" class="col btn" [ngStyle]="{'background': item.Color}" *ngFor="let item of btngroup" (click)="seeDes(item)">{{item.Desarrollo}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     
    </div>

    <!-- Content Wrapper END -->
    <!-- modal -->
    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body result-table">
                </div>
                <div class="modal-footer">
                    <ng-container *ngIf="btnoption === 1;">
                        <button type="button" class="btn btn-outline-success btnprint" (click)="imprimirpdf(estados,5)">Imprimir <i class="ms-3 fas fa-print"></i></button>
                        <button type="button" class="btn btn-secondary btnclose" data-bs-dismiss="modal">Cerrar</button>
                    </ng-container>
                    <ng-container *ngIf="btnoption === 2;">
                        <button type="button" class="btn btn-outline-success btnprint" (click)="imprimirpdf(ciudades,6)">Imprimir <i class="ms-3 fas fa-print"></i></button>
                        <button type="button" class="btn btn-secondary btnclose" data-bs-dismiss="modal">Cerrar</button>
                    </ng-container>
                    <ng-container *ngIf="btnoption === 3;">
                        <button type="button" class="btn btn-outline-success btnprint" (click)="imprimirpdf(edades,4)">Imprimir <i class="ms-3 fas fa-print"></i></button>
                        <button type="button" class="btn btn-secondary btnclose" data-bs-dismiss="modal">Cerrar</button>
                    </ng-container>
                    <ng-container *ngIf="btnoption === 4">
                        <button type="button" class="btn btn-outline-success btnprint" (click)="imprimirpdf(dataLlamadaClick,3)">Imprimir <i class="ms-3 fas fa-print"></i></button>
                        <button type="button" class="btn btn-secondary btnclose" data-bs-dismiss="modal">Cerrar</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>



    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Elija una seccion</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="col-12">
                <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action action " (click)="menu(1)" id="menu1"   href="crm/reportes/estadisticas#item-1" >Lotes Vendidos</a>
                  <a class="list-group-item list-group-item-action action " (click)="menu(2)" id="menu2"  href="crm/reportes/estadisticas#item-2" >Asesores Registrados</a>
                  <a class="list-group-item list-group-item-action action" (click)="menu(3)" id="menu3"  href="crm/reportes/estadisticas#item-3" >Asesores por genero</a>
                  <a class="list-group-item list-group-item-action action"  (click)="menu(4)" id="menu4"  href="crm/reportes/estadisticas#item-4" >Hrs por Socios Comerciales</a>
                  <a class="list-group-item list-group-item-action action"  (click)="menu(5)" id="menu5"  href="crm/reportes/estadisticas#item-5" >Estados con más afluencia</a>
                  <a class="list-group-item list-group-item-action action"  (click)="menu(6)" id="menu6"  href="crm/reportes/estadisticas#item-6" >Ciudades donde compran mas</a>
                  <a class="list-group-item list-group-item-action action"  (click)="menu(7)" id="menu7"   href="crm/reportes/estadisticas#item-7" >Edades que mas compran</a>
                  <a class="list-group-item list-group-item-action action"  (click)="menu(8)" id="menu8"  href="crm/reportes/estadisticas#item-8" >HRS</a>
                  <a class="list-group-item list-group-item-action action" (click)="menu(9)" id="menu9"  href="crm/reportes/estadisticas#item-9" >COTIZACIONES</a>
                  <a class="list-group-item list-group-item-action action"  (click)="menu(10)" id="menu10"  href="crm/reportes/estadisticas#item-10" >Cotizacion por mes</a>
                  <a class="list-group-item list-group-item-action action"  (click)="menu(11)" id="menu11"  href="crm/reportes/estadisticas#item-11" >Datos Inversionistas</a>
                  <a class="list-group-item list-group-item-action action"  (click)="menu(12)" id="menu12"  href="crm/reportes/estadisticas#item-12" >Datos Llamadas</a>
                  <a class="list-group-item list-group-item-action action" (click)="menu(13)" id="menu13"  href="crm/reportes/estadisticas#item-13" >Reporte hr</a>
                  <a class="list-group-item list-group-item-action action" (click)="menu(14)" id="menu14"   href="crm/reportes/estadisticas#item-14" >Inversionistas</a>
                </div>
              </div>
        </div>
      </div>
    


    <!-- Footer START -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script> -->
    <app-footer></app-footer>
    <!-- Footer END -->

</div>
