<div class="page-container" [ngClass]="{
    sidebar_is_full: app.sidebarState,
    sidebar_is_small: !app.sidebarState
  }">
  <!-- Content Wrapper START -->
  <div class="main-content">
    <div class="card">
      <div class="card-header">
        <h2>Información de los contratos</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <nav>
            <div class="nav nav-tabs" id="list-tab" role="tablist">
              <a class="nav-link active" id="list-home-list" data-bs-toggle="tab" href="#list-home" role="tab"
                aria-controls="list-home">Envio</a>
              <a class="nav-link" id="list-profile-list" data-bs-toggle="tab" href="#list-profile" role="tab"
                aria-controls="list-profile">Pendiente</a>
              <a class="nav-link" id="list-messages-list" data-bs-toggle="tab" href="#list-messages" role="tab"
                aria-controls="list-messages">Finalizado</a>
            </div>
          </nav>
          <div class="col-12 mt-5">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Inversionista</th>
                      <th scope="col">Desarrollo</th>
                      <!-- <th scope="col">Agente</th> -->
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <td colspan="4" *ngIf="loading">
                      <div class="text-center">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </div>
                    </td>
                    <tr *ngFor="let contrato of porenviar">
                      <td>{{porenviar.indexOf(contrato) + 1}}</td>
                      <td>{{ contrato.INVERSIONISTA }}</td>
                      <td>Desarrollo - {{ contrato.DESARROLLO }} <br> Etapa - {{contrato.Fase}} <br> Lote - {{contrato.LOTE}} </td>
                      <!-- <td>{{ contrato.AGENTE }}</td> -->
                      <td>
                        <button class="btn btn-ico btn-sm btn-outline-primary me-1"
                          (click)="previewContrato(contrato, true)" type="button" data-bs-toggle="offcanvas"
                          data-bs-target="#canvasVerificar" aria-controls="canvasVerificar">
                          Verificar <i class="fas fa-tasks"></i>
                        </button>
                        <button class="btn btn-ico btn-sm btn-outline-info me-1" (click)="previewContrato(contrato)"
                          data-bs-toggle="modal" data-bs-target="#previewContratoModal">
                          Previsualizar <i class="fas fa-eye"></i>
                        </button>
                        <button *ngIf="contrato.ENVIADO != 1" (click)="enviarcontrato(contrato)"
                          class="ms-1 btn btn-ico btn-sm btn-outline-success" id="EnviarTest">
                          Marcar como <br>Contrato Generado
                        </button>
                        <button *ngIf="contrato.ENVIADO == 1" (click)="firmarcontrato(contrato.IDHR)"
                          class="ms-1 btn btn-ico btn-sm btn-outline-secondary" id="Finalizar">
                          Finalizar proceso <i class="far fa-check-circle"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Inversionista</th>
                      <th scope="col">Desarrollo</th>
                      <th scope="col">Agente</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let contrato of pendientes; let g = index">
                      <td>{{ contrato.INVERSIONISTA }}</td>
                      <td>Desarrollo - {{ contrato.DESARROLLO }} <br> Etapa - {{contrato.Fase}} <br> Lote - {{contrato.LOTE}} </td>
                      <!-- <td>{{ contrato.AGENTE }}</td> -->
                      <td>
                        <button class="btn btn-ico btn-sm btn-outline-success me-2"
                          (click)="recordar(contrato.INVERSIONISTA, g)" [disabled]="bloquedBtns.includes(g)">
                          Recordar <i class="fas fa-calendar-alt"></i>
                        </button>
                        <button (click)="enviarrecordatorio(contrato.RequisitionId)"
                          class="btn btn-ico btn-sm btn-outline-info">
                          Firmado <i class="fas fa-check"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Inversionista</th>
                      <th scope="col">Desarrollo</th>
                      <!-- <th scope="col">Agente</th> -->
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let contrato of finalizados">
                      <td>{{ contrato.INVERSIONISTA }}</td>
                      <td>Desarrollo - {{ contrato.DESARROLLO }} <br> Etapa - {{contrato.Fase}} <br> Lote - {{contrato.LOTE}} </td>
                      <!-- <td>{{ contrato.AGENTE }}</td> -->
                      <td>
                        <a class="btn btn-ico btn-sm btn-outline-danger me-1"
                          (click)="reenviarContrato(contrato.IdHRContraro)">Reenviar contrato</a>
                        <a (click)="verContratoFirmado(contrato.RequisitionId)" data-bs-toggle="modal"
                          data-bs-target="#previewContratoModalFirmado"
                          class="btn btn-ico btn-sm btn-outline-success">Ver contrato <i
                            class="fas fa-check-square"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="previewContratoModal" tabindex="-1" aria-labelledby="previewContratoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="previewContratoModalLabel">
            {{ selectedContrato }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <div class="d-flex justify-content-center align-items-center" *ngIf="loadingPreview">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <span class="ms-2 fs-4">Generando contrato, esto puede tomar varios segundos</span>
          </div>
          <iframe [src]="currentPDfUrl | sanitizar" width="100%" height="540px" *ngIf="!loadingPreview">
          </iframe>
          <button *ngIf="!loadingPreview" (click)="enviarcontrato(selectedIdHr, false)"
            class="btn btn-ico btn-sm btn-outline-success">
            Enviar este contrato<i class="fas fa-cloud-upload-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="previewContratoModalFirmado" tabindex="-1"
    aria-labelledby="previewContratoModalFirmadoLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="previewContratoModalFirmadoLabel">
            contrato firmado
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <div class="d-flex justify-content-center align-items-center" *ngIf="loadingPreview">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <span class="ms-2 fs-4">Consultando contrato, esto puede tomar varios segundos</span>
          </div>
          <iframe [src]="dataUrl | sanitizar" width="100%" height="540px" *ngIf="!loadingPreview">
          </iframe>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Wrapper END -->

  <!-- Footer START -->
  <app-footer></app-footer>
  <!-- Footer END -->
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="canvasVerificar" aria-labelledby="canvasVerificarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="canvasVerificarLabel">Verificar contrato</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <div class="row">
        <div class="col-12">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-link active" id="contratoview_list" data-bs-toggle="list" href="#contratoview" role="tab"
                aria-controls="list-home">Contrato completo</a>

              <a *ngFor="let item of celdas" class="nav-link" id="list-home-list{{item.IdCelda}}" data-bs-toggle="list"
                href="#list-home{{item.IdCelda}}" role="tab" aria-controls="list-home">{{item.NombreCelda}}</a>
              <!-- <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Profile</a>
              <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Messages</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Settings</a>
              -->
            </div>
          </nav>
        </div>
        <div class="col-12">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade  show active" id="contratoview" role="tabpanel"
              aria-labelledby="contratoview_list">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-10 mx-auto mt-5">
                    <div>
                      <button (click)="enviarcontrato(this.IDHR)"
                        class="ms-1 btn btn-ico btn-sm btn-outline-success" id="EnviarTest">
                        Marcar como <br>Contrato Generado
                      </button>
                    </div>
                    <div class="d-flex justify-content-center overlay" *ngIf="loadercontrato">
                      <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                    <div class="title">
                      <h1 class="fw-bold fs-2 text-center mb-5">{{documentos.nombreDocumento}}</h1>
                    </div>
                    <div [innerHTML]="documentos.documento" class="contratoinfo"></div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngFor="let item of celdas; let ind = index;" class="tab-pane fade" id="list-home{{item.IdCelda}}"
              role="tabpanel" [attr.aria-labelledby]="'list-home-list'+item.IdCelda">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-10 mx-auto mt-5">
                    <div class="d-flex justify-content-center overlay" *ngIf="loadercontrato">
                      <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                    <div class="d-flex">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="switchCelda{{item.IdCelda}}"
                          (change)="aceptarClausula($event, item)" [(ngModel)]="item.Aprobado">
                        <label class="form-check-label text-success"
                          for="switchCelda{{item.IdCelda}}"><strong>Aprobado</strong></label>
                      </div>
                      <button class="btn btn-info btn-sm ms-4" (click)="fillCelda(item, ind)">Cargar datos de inversionista</button>
                    </div>
                    <div class="title">
                      <h1 class="fw-bold fs-2 text-center mb-5">{{item.NombreCelda}}</h1>
                    </div>
                    <div [innerHTML]="item.ContenidoCelda" class="text-center contratoinfo"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-full-loader *ngIf="loaders.token" message="Se estan generando las credenciales del FAD"></app-full-loader>
<app-full-loader *ngIf="loaders.sending" message="Enviando contrato al correo de la persona..."></app-full-loader>
<app-full-loader *ngIf="loaders.updating" message="Actualizando estatus a firmado..."></app-full-loader>
