tbody > tr > td {
    vertical-align: middle;
}

.offcanvas-start{
    width: 1200px;
    max-width: 100%;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 2px 0 4px #0000001a;
}

.contratoinfo > p > img{
    max-width: 100%;
}

img{
    max-width: 100%;
}

.form-check-input:checked {
    background-color: #198754!important;
    border-color: #198754!important;
}

