.centros .col-md-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.centros .col-md-3 .form-control{
    text-align: center;
}
.verde{
    color: green;
}
.rojo{
    color: red;
}
