.blue-demon-background {
    background-color: #001376;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    border: 1px solid #000;
}

.skyblue-background {
    background-color: lightskyblue;
}

.btn-delete {
    background: transparent;
    border: none;
    padding: 0.2rem;
    font-size: 1.2rem;
    color: red;
}