<div class="offcanvas w-100 offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Recibo de Fxcoins</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-md-12">
                <form class="row g-3 needs-validation" novalidate>
                    <div class="col-md-2">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input type="date" [ngClass]="{'is-invalid':fechav,'is-valid': fechav}" class="form-control" id="fecha">
                    </div>
                    <div class="col-md-2">
                        <label for="codigo" class="form-label">Codigo</label>
                        <input type="text" [ngClass]="{'is-invalid':codigov,'is-valid': codigov}" class="form-control" id="codigo">
                    </div>
                    <div class="col-md-2">
                        <label for="descripcion" class="form-label">Descripcion</label>
                        <input type="text" [ngClass]="{'is-invalid':descv,'is-valid': descv}" class="form-control" id="descripcion">
                    </div>
                    <div class="col-md-2">
                        <label for="cantidad" class="form-label">Cantidad</label>
                        <input type="number" [ngClass]="{'is-invalid':cantv,'is-valid': cantv}" class="form-control" id="cantidad">
                    </div>
                    <div class="col-md-2">
                        <label for="fxcoins" class="form-label">FxCoins</label>
                        <input type="number" [ngClass]="{'is-invalid':fxv,'is-valid': fxv}" class="form-control" id="fxcoins">
                    </div>
                    <div class="col-md-2 align-self-end">
                        <button class="btn btn-primary" type="button" (click)="AgregarCampo()">Agregar </button>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <table class="table">

                    <tr class="text-center">
                        <td colspan="2">
                            <img class="img-fx" width="130px" height="60px" src="https://fibrax.mx/api/storage/media/logo-fxcoins-footer.jpg" alt="logoFxCoins">
                        </td>
                        <td colspan="1" id="title_cat"></td>
                        <td colspan="3">
                            <p class="blue mb-0 fw-bold">No {{nopedido}}</p>
                            <p class="blue fw-bold">{{fechahoy}}</p>
                        </td>
                    </tr>
                    <tr class="skyblue-background">
                        <td colspan="2">
                            <p class="black fw-bol mb-0">Nombre:</p>
                        </td>
                        <td colspan="4">
                            <p class="black fw-bol mb-0">{{nombre}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>La cantidad de:</td>
                        <td>$ {{totalCantidad}}</td>
                        <td id="textocambio" colspan="3">{{cantidadtexto}}</td>
                    </tr>
                    <tr class="blue-demon-background head-title">
                        <td colspan="1">Fecha</td>
                        <td colspan="1">Codigo</td>
                        <td colspan="1">descripcion del intercambio</td>
                        <td colspan="1">Cantidad</td>
                        <td colspan="1">Fx coins</td>
                        <td colspan="1"><i class="fas fa-exclamation-circle"></i></td>
                    </tr>
                    <tbody id="content-items">
                        <tr *ngFor="let item of pedidos">
                            <td class="text-center">{{item.Fch_Pedido}}</td>
                            <td class="text-center">FXPROD{{item.IdPedido}}</td>
                            <td class="text-center">{{item.Producto}}</td>
                            <td class="text-center">1</td>
                            <td class="text-center">$ {{item.Precio_Final}}</td>
                        </tr>
                        <tr id="itemRow{{i}}" *ngFor="let item of listItem; let i = index;">
                            <td class="text-center">{{item.fecha}}</td>
                            <td class="text-center">{{item.codigo}}</td>
                            <td class="text-center">{{item.descripcion}}</td>
                            <td class="text-center">{{item.cantidad}}</td>
                            <td class="text-center">$ {{item.fxcoins}}</td>
                            <td class="text-center"><button class="btn-delete" (click)="deleteItem({i})"><i class="fas fa-backspace"></i></button></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-center" colspan="4"></td>
                            <td class="text-center">Bueno por:</td>
                        </tr>
                        <td>
                            <p class="text-center verde mb-0 text-upper fw-bold"><b>Rubí López</b></p>
                            <p class="text-center mb-0 text-upper fw-bold">Ejecutiva de FXCoins</p>
                            <p class="text-center mb-0 text-upper fw-bold">(9981929501)</p>
                            <p class="text-center fw-bold">fxcoins@fibrax.mx</p>
                            <table class="ms-auto me-auto">
                                <tr>
                                    <td>
                                        <a class="text-dark" href="https://www.facebook.com/fibraxlife/">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="text-dark" href="https://www.facebook.com/fibraxlife/">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td colspan="2">
                            <p class="text-start mb-0 text-upper fw-bold">Comentarios: {{nota}}</p>
                        </td>
                        <td colspan="2">
                            <p class="text-end mb-0 blue fw-bold">$ {{totalCantidad}}</p>
                        </td>
                    </tfoot>
                </table>
            </div>
            <hr>
            <div class="col-md-12">
                <button (click)="EnviarRecibo()" class="btn btn-outline-success">
                    Enviar
                    <i class="ms-2 fas fa-file-upload"></i>
                </button>
            </div>
        </div>
    </div>
</div>