<div
  class="page-container"
  [ngClass]="{
    sidebar_is_full: app.sidebarState,
    sidebar_is_small: !app.sidebarState
  }"
><div  class="botones">
  <button id="escondete" class="btn btn-primary"><i class="fas fa-cloud-download-alt"></i></button>
  <button  class="pdfbtn" (click)="pdf()"  style="color: #FF0000 ;" ><i class="far fa-file-pdf"></i></button>
  <button class="excelbtn" (click)="excell()" style="color:  #1C6C40;" ><i class="far fa-file-excel"></i></button>
  <button class="btn btn-primary"><i class="fas fa-cloud-download-alt"></i></button>
</div>
  <!-- Content Wrapper START -->
  <div class="main-content">
    <div class="card">
      <h2>Reportes</h2>
      <div class="card-body">

        <div class="row mt-4">
          <div class="col-lg-12">   
          <div class="col-lg-12">
            <div class="card cotizaciones ">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center ">
                  <h5>Reporte de ventas</h5>
                  <div>
                    <a
                      routerLink="/crm/reportes/reporte/4"
                      class="btn btn-sm btn-outline-secondary"
                      >Ver Detalles</a
                    >
                  </div>
                </div>
                <div class="mt-5">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Parkes</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of CotizacionesPorDesarrollo">
                          <td>{{item.Nombre_Interesado}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Wrapper END -->

  <!-- Footer START -->
  <app-footer></app-footer>
  <!-- Footer END -->
</div>
