<div
  class="page-container"
  [ngClass]="{
    sidebar_is_full: app.sidebarState,
    sidebar_is_small: !app.sidebarState
  }"
>
  <!-- Content Wrapper START -->
  <div class="main-content">
    <div class="card">
      <h3>{{ info.Persona?.NombreCompleto }}</h3>

      <div class="grid">
        <ng-container *ngFor="let inversion of info.Lotes">
          <div
            data-bs-toggle="offcanvas"
            data-bs-target="#LoteCanvas"
            class="card inversion"
            (click)="seleccionar(inversion)"
          >
            <h6>
              {{ inversion.Desarrollo }}
              {{ inversion.Fase }}
              {{ inversion.Lote }}
            </h6>
            <p>
              <b>Pagos registrados:</b>
              {{ inversion.NPagos }}
            </p>
            <p>
              <b>Fecha último pago registrado:</b>
              {{ inversion.LPago }}
            </p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="LoteCanvas"
  aria-labelledby="LoteCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 id="LoteCanvasLabel">
      Pagos {{ lote.Desarrollo }} {{ lote.Fase }} {{ lote.Lote }}
    </h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex justify-content-between">
      <div class="filtros"></div>
      <div class="acciones d-flex mb-2">
        <button
          (click)="SeleccionarPago({ IdHR: lote.IdHR })"
          class="btn btn-primary"
        >
          Registrar pago
        </button>
        <div class="position-relative">
          <button class="btn btn-success ms-1">Subir excel</button>
          <input type="file" (change)="onFileChange($event)" class="archivo"> 
        </div>
        
      </div>
    </div>

    <div class="table-responsive vh-75">
      <table class="table table-hover">
        <thead class="sticky-top">
          <tr class="table-light">

            <th><input type="checkbox" id="allcb" class="checkbox" (change)="checkAll($event)"></th>
            <th>Fecha pago</th>
            <th>Concepto</th>
            <th>Monto</th>
            <th>Estatus</th>
            <th>Comprobante</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let pago of lote.LPagos">
            <tr>
              <td><input type="checkbox" [(ngModel)]="pago.seleccionado" (change)="test(pago)" id="cb" class="checkbox"></td>
              <td (click)="SeleccionarPago(pago)">{{ pago.FechaPago }}</td>
              <td (click)="SeleccionarPago(pago)">{{ pago.Concepto }}</td>
              <td (click)="SeleccionarPago(pago)">$ {{ humanizeNumber(pago.Importe) }}</td>
              <td (click)="SeleccionarPago(pago)">{{ pago.Estatus }}</td>
              <td>
                <button *ngIf="pago.Img_Comprobante; else nocomp" class="btn btn-primary" >
                  <i
                    class="far fa-eye"
                    (click)="verComp(pago.Img_Comprobante)"
                  ></i>
                </button>
                <ng-template #nocomp>
                  No disponible
                </ng-template>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end mt-2">
      <button class="btn btn-success me-2">Aceptar <i class="fas fa-check"></i></button>
      <button class="btn btn-warning me-2">Rechazar <i class="fas fa-ban"></i></button>
      <button class="btn btn-danger">Eliminar <i class="fas fa-trash"></i></button>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="PagoModal"
  tabindex="-1"
  aria-labelledby="PagoModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="PagoModalLabel">
          <ng-container *ngIf="pago.IdPago">Editar</ng-container>
          <ng-container *ngIf="!pago.IdPago">Agregar</ng-container>
          pago
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <label class="mb-1" for="">Fecha pago</label>
        <input
          type="date"
          name=""
          class="form-control"
          [(ngModel)]="pago.FechaPago"
          id=""
        />
        <label class="mt-2" for="">Importe</label>
        <input
          class="form-control"
          placeholder="Escribe el monto"
          type="number"
          [(ngModel)]="pago.Importe"
        />
        <label class="mt-2 mb-1" for="">Concepto</label>
        <select [(ngModel)]="pago.IdConcepto" name="" class="form-select" id="">
          <option [value]="undefined" disabled>Selecciona una opción</option>
          <option value="2">Enganche</option>
          <option value="3">Gasto Administrativo</option>
          <option value="4">Mensualidad</option>
          <option value="5">Pago Generico</option>
          <option value="6">Intereses</option>
          <option value="7">Pago de contado</option>
        </select>
        <label class="mt-2 mb-1" for="">Tipo de pago</label>
        <select [(ngModel)]="pago.IdTipoPago" class="form-select" name="" id="">
          <option disabled [value]="undefined" disabled>
            Selecciona una opción
          </option>
          <option value="1">Internet (STRIPE)</option>
          <option value="2">Transferencia</option>
          <option value="3">Cheque</option>
          <option value="4">Efectivo</option>
        </select>
        <label class="mt-2 mb-1" for="">Estatus</label>
        <select [(ngModel)]="pago.IdStatus" class="form-select" name="" id="">
          <option disabled [value]="undefined" disabled>
            Selecciona una opción
          </option>
          <option value="1">Aceptado</option>
          <option value="2">Pendiente</option>
          <option value="3">Rechazado</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button (click)="eliminar()" class="btn btn-danger">Eliminar</button>
        <button (click)="Actualizar()" type="button" class="btn btn-primary">
          <ng-container *ngIf="pago.IdPago">Actualizar</ng-container>
          <ng-container *ngIf="!pago.IdPago">Registrar</ng-container>
          pago
        </button>
      </div>
    </div>
  </div>
</div>
<app-full-loader
  message="Cargando movimientos"
  *ngIf="subiendo"
></app-full-loader>
