<div
  class="page-container"
  [ngClass]="{
    sidebar_is_full: app.sidebarState,
    sidebar_is_small: !app.sidebarState
  }"
>
<div  class="botones">
  <button (click)="Descarga()"  class="btn btn-primary"><i class="fas fa-cloud-download-alt"></i></button>
</div>


  <div class="main-content">
    <div class="row mb-3">
      <div class="col-md-12">
        <h2><a [routerLink]="['/Inicio/reportes/consultas']">  <img style="width: 2rem;" src="https://img.icons8.com/flat-round/64/null/circled-left-2--v1.png"/></a> Regresar</h2>
        <h2 class="text-center">{{ titulo }}</h2>
      </div>
      <div class="col" style="text-align: end"></div>
    </div>
    <div class="row g-3 mb-5">

      
      <div class="col-md-3" style="margin-top: 2.5rem;">
        <mat-form-field style="width: 100%" appearance="legacy">
          <mat-label>Escoge un rango</mat-label>
          <mat-date-range-input
            [rangePicker]="picker"
            [formGroup]="dateRange"
          >
            <input
              matStartDate
              formControlName="start"
              placeholder="Fecha Inicio"
            />
            <input
              matEndDate
              formControlName="end"
              placeholder="Fecha Fin"
              (dateChange)="dateRangeChange()"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="col-md-3"  >
        <label for="tipo" class="form-label">Seleccione un Tour</label>
        <select
          id="tipo"
          (change)="Filtros()"
          name="tipo"
          [(ngModel)]="Desarrollo"
          class="form-select"
        >
          <option value="0">Todos</option>
          <option *ngFor="let item of des" [value]="item.IdDesarrollo">
            {{ item.Desarrollo }}
          </option>
        </select>
      </div>

      <div class="d-grid col-md-6 gap-2 d-md-flex justify-content-md-end">
        <a type="button" routerLink="/Inicio/reportes/reportepersonas/{{id}}"  style="height: 2.5rem;" (click)="Descarga()" class="btn btn-outline-dark">
          Visualizar Personas
        </a> 
      </div>
  </div>


    <div >
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Tour</th>
              <th>  Numero de personas</th>
              <th>  Tiempo de reserva</th>
              <th>Fecha Registro</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of parques">
              <td>{{ item.Tour}}</td>
              <td>{{ item.Num_Pax }}</td>
              <td>{{ item.Tiempo_Reserva}}</td>
              <td>{{ item.Fch_Registro}}</td>
              <td>{{ item.Total }} {{item.Divisa}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

   
  </div>
</div>






