<div
  class="page-container"
  [ngClass]="{
    sidebar_is_full: app.sidebarState,
    sidebar_is_small: !app.sidebarState
  }"
>
  <div class="main-content">
    <div class="row mb-3">
      <div class="col">
        <h2>{{ titulo }}</h2>
      </div>
      <div class="col" style="text-align: end"></div>
    </div>
    <div class="row g-3 mb-5">
      <div class="col-md-3" >
        <label for="tipo" class="form-label">Tipo de orden</label>
        <select
          id="tipo"
          (change)="Filtros()"
          name="tipo"
          [(ngModel)]="Desarrollo"
          class="form-select"
        >
          <option value="0">Todos</option>
          <option *ngFor="let item of des" [value]="item.IdDesarrollo">
            {{ item.Desarrollo }}
          </option>
        </select>
      </div>
      <div class="col-md-3" >
        <label for="tipo" class="form-label">Nacionalidad</label>
        <select
          id="tipo"
          (change)="Filtros()"
          name="tipo"
          [(ngModel)]="tipo"
          class="form-select"
        >
          <option value="0">Todos</option>
        <!--   <option value="1">Concepto</option>
          <option value="2">Enganche</option>
          <option value="3">Gasto Administrativo</option>
          <option value="4">Mensualidad</option>
          <option value="5">Pago generico</option>
          <option value="6">Intereses</option>
          <option value="7">Pago de contado</option> -->
        </select>
      </div>
   
 
      <div class="col-md-2 btnObtener">
        <button type="button" (click)="Descarga()" class="btn btn-primary">
          <i class="me-3 fas fa-download"></i> Descargar reporte
        </button> 
   
      </div>
    </div>


    <div >
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Tour</th>
              <th>Importe</th>
              <th>Total</th>
              <th>Tarifa</th>
              <th>Niños</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of pagos">
              <td>{{ item.Desarrollo }}</td>
              <td>{{ item.nombre }}</td>
              <td>{{ item.Concepto }}</td>
              <td>{{ item.Importe }}</td>
              <td>{{ item.FPago }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

   
  </div>
</div>






