/* table */

.table-btn.dropdown-toggle::after {
    display: none;
}

.numeration {
    position: sticky;
    left: 0;
}

.name {
    position: sticky;
    left: 53px;
}

.prospect thead th {
    background-color: #04003D;
    color: #fff;
}
.table-responsive{
    max-height: 760px;
    overflow: auto;
}