.uper{
    text-transform: uppercase;
}
.colorfb{
    background-color: #3b5998;
    color: #fff;
}
.colorig{
    background-color:#C13584;
    color: #fff;
}
.card{
    padding: 0;
}
.alert-info{
    padding: 0.5rem;
}
.list-activites{
    height: 480px;
    overflow: auto;
}