<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Producto # 001</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <div class="row g-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <i class="fas fa-shopping-cart"></i>
                            <div class="me-5">
                                <p class="text-muted">Ventas</p>
                                <h3 class="ls-1">0</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-title">
                        <h5>Información Basica</h5>
                    </div>
                    <table class="table table-hover">
                        <tr>
                            <td>Precio</td>
                            <td>1234</td>
                        </tr>
                        <tr>
                            <td>Categoria</td>
                            <td>Abono de inversión</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>Activo</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-title">
                        <h5>Información Opcional</h5>
                    </div>
                    <table class="table table-hover">
                        <tr>
                            <td>Precio Adulto:</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Precio Niño</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Precio Personalizado</td>
                            <td>No definido</td>
                        </tr>
                        <tr>
                            <td>Precio ECoins</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Solo ECoins</td>
                            <td>Desactivado</td>
                        </tr>
                        <tr>
                            <td>Multi Precio</td>
                            <td>Desactivado</td>
                        </tr>
                        <tr>
                            <td>Nota:</td>
                            <td>Nota 123</td>
                        </tr>
                        <tr>
                            <td>Fecha de Creacion</td>
                            <td>2020-08-20 14:33:24</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-title">
                        <h5>Descripción del producto</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>