<div
  class="header"
  [ngClass]="{
    sidebar_is_full: app.sidebarState,
    sidebar_is_small: !app.sidebarState
  }"
>
  <!--   <div class="logo logo-white">
    <a routerLink="/">
      <img src="assets/img/x-logo.png" alt="Logo-Fibrax" *ngIf="app.sidebarState === true">
      <img class="logo-fold" src="assets/img/x.png" alt="Logo" *ngIf="app.sidebarState === false">
    </a>
  </div>
   -->
  <div class="nav-wrap border-bottom">
    <ul class="nav-left">


      <li *ngIf="app.sidebarState === true">
        <a
          class="btn menu"
      
          (click)="app.toggleSidebar(0)"
        >
          <i class="fas fa-align-justify"></i>
        </a>
      </li>


      <li *ngIf="app.sidebarState === false">
        <a
          class="btn menu"
     
          (click)="app.toggleSidebar(1)"
        >
          <i class="fas fa-align-justify"></i>
        </a>
      </li>

      
      <li class="ms-1">
        <p class="mb-0 ms-2 me-3 title-nabvar">
          <span>{{ app.currentModule + " " + app.currentSection }} </span>
        </p>
      </li>
    </ul>
    <ul class="nav-right">
      <!-- <li class="pe-2 border-end border-start coins">
        <i style="font-size: 25px" class="fas fa-coins"></i
        ><span class="monedas">{{ +userData.FxCoins }}</span>
      </li> -->
      <li class="dropdown dropdown-animated scale-left">
        <div class="pointer d-flex mix-spacing" data-bs-toggle="dropdown">
          <div class="avatar avatar-image m-h-10 m-r-15">
            <img
              *ngIf="userData.Foto_Perfil !== null"
              class="avatar2"
              id="most1a"
              style="width: 40px; height: 40px; object-fit: cover"
              src="{{ app.dominio }}newDesign/assets/images/imgPerfil/{{
                userData.Foto_Perfil
              }}"
              alt="Foto"
            />

            <img
              *ngIf="userData.Foto_Perfil === null"
              class="avatar2"
              id="most1a"
              style="width: 40px; height: 40px; object-fit: cover"
              src="{{ app.dominio }}newDesign/assets/images/imgPreview.jpg"
              alt="Foto"
            />
          </div>
          <p class="ms-2 mb-0 text-dark font-weight-semibold pe-5 Nombre">
            {{ userData.Nombre }} {{ userData.Apellido_P }}
            <br />
            <span class="tipousuario">Usuario </span>
          </p>
        </div>
        <div class="p-b-15 p-t-20 dropdown-menu pop-profile">
          <a [routerLink]="['/Inicio/user/perfil']" class="dropdown-item d-block p-h-15 p-v-10">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <span class="icon-holder me-2">
                    <i class="fas fa-user-circle"></i>
                </span>
                <span class="m-l-10">Perfil</span>
              </div>
              <i class="anticon font-size-10 anticon-right"></i>
            </div>
          </a>
          <a
            (click)="cerrarSesion()"
            class="dropdown-item d-block p-h-15 p-v-10">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <span class="icon-holder me-2">
                  <i class="fas fa-sign-out-alt"></i>
                </span>
                <span class="m-l-10">Cerrar sesión</span>
              </div>
              <i class="anticon font-size-10 anticon-right"></i>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
