<div class="page-container" [ngClass]="{'sidebar_is_full': app.sidebarState, 'sidebar_is_small': !app.sidebarState}">

    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="page-header no-gutters has-tab">
            <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                <div class="media align-items-center m-b-15">
                    <div class="m-l-15"></div>
                </div>
                <div class="m-b-15">
                    <button id="actualizarBtncontrato" class="btn btn-primary">
                    <i class="far fa-save"></i> &nbsp;
                        <span>Guardar</span>
                    </button>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                   <a class="nav-link active" data-toggle="tab" href="#">Información Basica</a>
                </li>
            </ul>
        </div>
        <div class="tab-content m-t-15">
            <div class="tab-pane fade show active" id="#">
                <div class="card">
                    <div class="card-body">
                        <div class="container">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <label for="razonSocial" class="form-label">Nombre del Contrato</label>
                                    <input type="text" class="form-control" id="razonSocial" placeholder="Nombre del contrato">
                                    <div id="feedbackrazonSocial" class="invalid-feedback"></div>
                                </div>
                                <div class="col-md-12">
                                    <label for="machote" class="form-label">Machote</label>
                                    <div style="height:180px;margin-bottom: 50px;">
                                        <quill-editor theme="snow" [style]="{'height':'320px'}"></quill-editor>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="clausula3" class="form-label">Clausula 3</label>
                                    <div style="height:180px;margin-bottom: 50px;">
                                        <quill-editor theme="snow" [style]="{'height':'320px'}"></quill-editor>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="clausula4" class="form-label">Clausula 4</label>
                                    <div style="height:180px;margin-bottom: 50px;">
                                        <quill-editor theme="snow" [style]="{'height':'320px'}"></quill-editor>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="clausula5" class="form-label">Clausula 5</label>
                                    <div style="height:180px;margin-bottom: 50px;">
                                        <quill-editor theme="snow" [style]="{'height':'320px'}"></quill-editor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->

    <!-- Footer START -->
    <footer class="footer">
        <div class="footer-content">
            <p class="mb-0"> </p>
        </div>
    </footer>
    <!-- Footer END -->

</div>