<div class="c-blue">
  <div class="d-flex justify-content-center">

    <h5 class="tituloTop text-center" id="TopModalLabel">Ranking de ventas {{Titulos.Asesores}}</h5>
  </div>
    <div class="podio" >
        <div class="row justify-content-center  align-items-center">
          <div class="col-4 col-md-2 position-relative dos" style="margin-top: 5%;">
            <img src="https://fibraxinversiones.mx/asesores/assets/topAsesores/aroplata.png" alt="" class="aro" />

            <div class="circulo"
              style="background-image: url(https://fibraxinversiones.mx/newDesign/assets/images/imgPerfil/{{top[1].Foto}})">
              <p class="text-center plata"  >{{top[1].Asesor}}</p>
            </div>
          </div>
          <div class="col-4 col-md-3 position-relative uno">
            <img src="https://fibraxinversiones.mx/asesores/assets/topAsesores/arooro.png" alt=""
              class="arooro aro" />
            <div class="circulo"
              style="background-image: url(https://fibraxinversiones.mx/newDesign/assets/images/imgPerfil/{{top[0].Foto}})">
              <p class="text-center oro"  style="">{{top[0].Asesor}}</p>
            </div>
          </div>
          <div class="col-4 col-md-2 position-relative tres" style="margin-top: 8%;">
            <img src="https://fibraxinversiones.mx/asesores/assets/topAsesores/arobronce.png" alt="" class="aro" />
            <div class="circulo"
              style="background-image: url(https://fibraxinversiones.mx/newDesign/assets/images/imgPerfil/{{top[2].Foto}})">
               <p class="text-center bronce" >{{top[2].Asesor}}</p>
            </div>
          </div>
          <div class="col-md-8 position-relative">
            <img class="sombras" src="https://fibraxinversiones.mx/asesores/assets/topAsesores/podiofinal.jpg" alt=""
              srcset="">
          </div>
        </div>
      </div>
</div>