<div class="card">
  <div class="card-body">
    <div class="row mb-4">
      <div class="col-lg-8">
        <div class="d-md-flex">
          <div class="mb-2">
            <select
              class="status-select form-control form-control-sm form-select"
              (change)="filterAChange($event)"
            >
              <option value="" selected="">Todos</option>
              <option
                *ngFor="let item of config.filtroA.data"
                value="{{ item.value }}"
              >
                {{ item.texto }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <label class="d-flex align-items-center"
          >Mostrar
          <select
            name="Table_0_length"
            aria-controls="Table_0"
            class="form-select Table_custom"
            [(ngModel)]="limit"
            (change)="createPagination()"
          >
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          registros</label
        >
      </div>

      <div class="col-sm-12 col-md-6 d-flex table-search">
        <div class="col-lg-6 col-md-12">
          <input
            type="search"
            class="form-control me-2"
            placeholder="Buscar"
            aria-controls="Search Table_0"
            [(ngModel)]="searched"
            (keyup)="searchFilter()"
          />
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover e-commerce-table">
        <thead>
          <tr style="user-select: none">
            <th
              *ngFor="let field of config.fields"
              class="sorting"
              style="width: 297.75px"
              [appSort]="dataList"
              data-order="desc"
              [attr.data-name]="field.value"
            >
              {{ field.text }}
            </th>
            <th *ngIf="config.editable"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="searched === ''; else searchResults">
            <ng-container *ngFor="let dato of dataList; let i = index">
              <ng-container>
                <tr
                  role="row"
                  class="odd"
                  *ngIf="i + 1 <= limit * page && i + 1 > limit * (page - 1)"
                  (click)="showElem(dato)"
                >
                  <td
                    *ngFor="let fd of config.fields"
                    align="center"
                    valign="center"
                  >
                    <div class="d-flex align-items-center">
                      <div
                        class="avatar avatar-image avatar-sm me-3"
                        *ngIf="fd.hasImage"
                      >
                        <img
                          *ngIf="dato[config.fotoField] === null"
                          src="{{
                            app.dominio
                          }}pruebas_dwit/admin/Content/img/admins/avatar.png"
                          alt="avatar"
                          width="40px"
                          height="40px"
                        />

                        <img
                          *ngIf="dato[config.fotoField] !== null"
                          src="{{ config.urlMedia + dato[config.fotoField] }}"
                          alt="avatar"
                          width="40px"
                          height="40px"
                        />
                      </div>
                      <h6 class="mb-0">{{ dato[fd.value] }}</h6>
                    </div>
                  </td>
                  <td
                    *ngIf="config.editable"
                    style="cursor: pointer"
                    align="center"
                    valign="center"
                  >
                    <a
                      *ngIf="config.idField3 === undefined"
                      [routerLink]="config.urlEdit + dato[config.idField]"
                      ><i class="far fa-edit"></i
                    ></a>
                    <a
                      *ngIf="config.idField3 !== undefined"
                      [routerLink]="
                        config.urlEdit +
                        dato[config.idField] +
                        '/' +
                        dato[config.idField2] +
                        '/' +
                        dato[config.idField3]
                      "
                      ><i class="far fa-edit"></i
                    ></a>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </ng-container>

          <ng-template #searchResults>
            <ng-container *ngFor="let dato of filteredList; let i = index">
              <ng-container>
                <tr
                  role="row"
                  class="odd"
                  *ngIf="i + 1 <= limit * page && i + 1 > limit * (page - 1)"
                  (click)="showElem(dato)"
                >
                  <td
                    *ngFor="let fd of config.fields"
                    align="center"
                    valign="center"
                  >
                    <div class="d-flex align-items-center">
                      <div
                        class="avatar avatar-image avatar-sm me-3"
                        *ngIf="fd.hasImage"
                      >
                        <img
                          *ngIf="dato[config.fotoField] === null"
                          src="{{
                            app.dominio
                          }}pruebas_dwit/admin/Content/img/admins/avatar.png"
                          alt="avatar"
                          width="40px"
                          height="40px"
                        />

                        <img
                          *ngIf="dato[config.fotoField] !== null"
                          src="{{ config.urlMedia + dato[config.fotoField] }}"
                          alt="avatar"
                          width="40px"
                          height="40px"
                        />
                      </div>
                      <h6 class="mb-0">{{ dato[fd.value] }}</h6>
                    </div>
                  </td>
                  <td
                    *ngIf="config.editable"
                    style="cursor: pointer"
                    align="center"
                    valign="center"
                  >
                    <a
                      *ngIf="config.idField3 === undefined"
                      [routerLink]="config.urlEdit + dato[config.idField]"
                      ><i class="far fa-edit"></i
                    ></a>
                    <a
                      *ngIf="config.idField3 !== undefined"
                      [routerLink]="
                        config.urlEdit +
                        dato[config.idField] +
                        '/' +
                        dato[config.idField2] +
                        '/' +
                        dato[config.idField3]
                      "
                      ><i class="far fa-edit"></i
                    ></a>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </ng-template>
        </tbody>
      </table>
    </div>
    <div class="text-center" *ngIf="loading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-5 d-flex text-registros">
        <div class="Tables_info" role="status" aria-live="polite">
          Mostrando registros del {{ limit * (page - 1) + 1 }} al
          {{ limit * page }} de un total de {{ pages.length }} registros
        </div>
      </div>
      <div class="col-sm-12 col-md-7 d-flex paginacion-button">
        <div class="Tables_paginate">
          <ul class="pagination">
            <li
              class="paginate_button page-item previous disabled"
              (click)="prevPage()"
              id="DataTables_Table_0_previous"
            >
              <a
                aria-controls="DataTables_Table_0"
                data-dt-idx="0"
                tabindex="0"
                class="page-link"
                >Anterior</a
              >
            </li>

            <ng-container *ngFor="let pg of pages">
              <li
                *ngIf="pg > page - 2 && pg < page + 2"
                class="paginate_button page-item"
                [ngClass]="{ active: page === pg }"
                (click)="selectPage(pg)"
              >
                <a
                  aria-controls="DataTables_Table_0"
                  data-dt-idx="1"
                  tabindex="0"
                  class="page-link"
                  >{{ pg }}</a
                >
              </li>
            </ng-container>

            <li
              class="paginate_button page-item disabled"
              id="DataTables_Table_0_ellipsis"
            >
              <a
                aria-controls="DataTables_Table_0"
                data-dt-idx="6"
                tabindex="0"
                class="page-link"
                >…</a
              >
            </li>
            <li class="paginate_button page-item">
              <a
                aria-controls="DataTables_Table_0"
                data-dt-idx="7"
                tabindex="0"
                (click)="selectPage(pages.length)"
                class="page-link"
                >{{ pages.length }}</a
              >
            </li>
            <li
              class="paginate_button page-item next"
              id="DataTables_Table_0_next"
              (click)="nextPage()"
            >
              <a
                aria-controls="DataTables_Table_0"
                data-dt-idx="8"
                tabindex="0"
                class="page-link"
                >Siguiente</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

