.card{
    padding: 0;
    border: none;
}
.card-header{
    border-bottom: 3px solid #d88c06;
}
.card-body{
    padding: 0;
    height: 400px;
    overflow: auto;
}
.card-body > div{
    height: 100%;
    align-items: center;
}
.card-body::-webkit-scrollbar {
    -webkit-appearance: none;
}
.card-body::-webkit-scrollbar:vertical {
    width:5px;
}
.card-body::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
}
.card-body::-webkit-scrollbar:horizontal {
    height: 10px;
}
.card-body::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 5px solid #0e1d60;
}
.card-body::-webkit-scrollbar-track {
    border-radius: 10px;
}
.text-name h6{
    font-size: 12px !important;
}

.list-group-item{
    border: none;
    border-radius: 0;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.125); */
}
.user-icon{
    margin-right: 5px;
}
.success{
    border-bottom: 2px solid #198754;
}
.prospecto{
    border-bottom: 2px solid #dc3545;
    padding: 0;
}
.asignado{
    border-bottom: 2px solid #0dcaf0;
}
.conectados{
    border-bottom: 2px solid #ffc107;
}