<div class="page-container" [ngClass]="{'sidebar_is_full': app.sidebarState, 'sidebar_is_small': !app.sidebarState}">
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container">
            <app-navbar></app-navbar>
            <div class="row">
                <div class="col-md-8">
                    <h1>Cartera de Clientes</h1>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h2># Clientes</h2>
                        </div>
                        <div class="card-body">
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                                <!-- <button class="btn btn-outline-success" type="submit">Buscar</button> -->
                            </form>
                            
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Telefono</th>
                                            <th scope="col">Fase</th>
                                            <th scope="col">Origen</th>
                                            <th scope="col">Contacto</th>
                                            <th scope="col">Editar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Ricardo poot</td>
                                            <td>998123456</td>
                                            <td>uno</td>
                                            <td>Facebook</td>
                                            <td>Contactado por x vez. con nota x.</td>
                                            <td><button (click)="editar(1, 'Cliente', '998123456', 'uno', 'Facebook', 'Contacto')" type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"><i class="fa fa-pen"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12"></div>
            </div>

            <!-- OFFCANVAS -->
            <div class="offcanvas offcanvas-start" style="font-size: 17px; width: 50%;" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  <h5 style="margin: 1rem 0;" class="offcanvas-title" id="offcanvasExampleLabel">{{nombre}} #{{id}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body p-3">
                  <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 mb-2">
                        <label class="ps-2 text-muted">Nombre</label>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-2">
                        <label class="ps-2 text-muted">Teléfono</label>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-2">
                        <input style="height: 50px" type="text" class="form-control" [value]="nombre" placeholder="Nombre*">
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-2">
                        <input style="height: 50px" type="tel" class="form-control" [value]="telefono" placeholder="Teléfono*">
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12 col-md-6 col-lg-6 mb-2">
                        <label class="ps-2 text-muted">Fase</label>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-2">
                        <label class="ps-2 text-muted">Origen</label>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-2">
                        <input style="height: 50px" type="text" class="form-control" [value]="fase" placeholder="Fase*">
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-2">
                        <select style="height: 50px; width: 100%;" name="" id="">
                            <option style="height: 50px;" [value]="origen">{{origen}}</option>
                        </select>
                    </div>
                </div>

                <div class="row mt-2">
                    <!-- <div class="col-12 mb-2">
                        <label class="ps-2 text-muted">Contacto</label>
                    </div> -->
                    <!-- <div class="col-12">
                        <textarea style="height: 120px" name="message" class="form-control" [value]="contacto" placeholder="Contacto*"></textarea>
                    </div> -->

                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Contacto*" [value]="contacto" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Contacto</label>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-outline-success" type="button"><i class="fas fa-pen"></i> <span class="ms-2">Guardar</span></button>
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>
</div>