.img-cons{
    width: 43%;
}
.main-content{
    text-align: center;
}
.img-compago{
    width: 100%;
}
.list-group-item{
    border: none;
}
.btn-img{
    width: 100%;
}
.btn-back{
    transform: rotate(180deg);
}