<div
  class="page-container"
  [ngClass]="{
    sidebar_is_full: app.sidebarState,
    sidebar_is_small: !app.sidebarState
  }"
>
  <!-- Button trigger modal -->
  <div  class="botones">
    <button id="escondete" class="btn btn-primary"><i class="fas fa-cloud-download-alt"></i></button>
    <button  class="pdfbtn" (click)="pdf()"  style="color: #FF0000 ;" ><i class="far fa-file-pdf"></i></button>
    <button class="excelbtn" (click)="excell()" style="color:  #1C6C40;" ><i class="far fa-file-excel"></i></button>
    <button class="btn btn-primary"><i class="fas fa-cloud-download-alt"></i></button>
</div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    data-bs-focus="false"
  >
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Asignar Coins</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="pills-home-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-home"
                type="button"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
              >
                Asesores
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-profile-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-profile"
                type="button"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false"
              >
                Inversionistas
              </button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-home"
              role="tabpanel"
              aria-labelledby="pills-home-tab"
            >
              <app-data-reclu
                [dataList]="personas"
                [config]="configDataTable"
                [loading]="loading"
              ></app-data-reclu>
            </div>
            <div
              class="tab-pane fade"
              id="pills-profile"
              role="tabpanel"
              aria-labelledby="pills-profile-tab"
            >
            <app-data-reclu
            [dataList]="inversionistas"
            [config]="configDataTable"
            [loading]="loading"
          ></app-data-reclu>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <button
      type="button"
      style="margin-bottom: 10px"
      class="btn btn-outline-secondary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Asignar Coins
    </button>
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h5>Estadisticas Ventas</h5>
              <!--    <div class="dropdown dropdown-animated scale-left">
                            <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                <i class="anticon anticon-ellipsis"></i>
                            </a>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" type="button">
                                    <i class="anticon anticon-printer"></i>
                                    <span class="m-l-10">Print</span>
                                </button>
                                <button class="dropdown-item" type="button">
                                    <i class="anticon anticon-download"></i>
                                    <span class="m-l-10">Download</span>
                                </button>
                                <button class="dropdown-item" type="button">
                                    <i class="anticon anticon-file-excel"></i>
                                    <span class="m-l-10">Export</span>
                                </button>
                                <button class="dropdown-item" type="button">
                                    <i class="anticon anticon-reload"></i>
                                    <span class="m-l-10">Refresh</span>
                                </button>
                            </div>
                        </div> -->
            </div>
            <!--<div class="m-t-30">
                        <div class="d-inline-block me-30">
                            <p class="m-b-0 d-flex align-items-center">
                                <span class="badge badge-primary badge-dot me-10"></span>
                                <span>Online</span>
                            </p>
                        </div>
                        <div class="d-inline-block">
                            <p class="m-b-0 d-flex align-items-center">
                                <span class="badge badge-blue badge-dot me-10"></span>
                                <span>Offline</span>
                            </p>
                        </div>
                    </div> -->
            <div class="m-t-50">
              <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                  <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                  <div class=""></div>
                </div>
              </div>
              <canvas
                #salesChartx
                class="chart chartjs-render-monitor"
                style="height: 240px; display: block; width: 780px"
                id="sales-chart"
                width="780"
                height="240"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h5>Top 3 Productos</h5>
              <div>
                <a
                  routerLink="/crm/fxcoins/pedidos"
                  class="btn btn-outline-secondary btn-sm"
                  >Ver Todo</a
                >
              </div>
            </div>
            <div class="mt-5">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item ps-0 pe-0"
                  *ngFor="let producto of productostop"
                >
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="d-flex">
                      <div class="avatar avatar-image me-3">
                        <img
                          src="{{ app.dominio }}fxcoins/img/{{
                            producto.Imagen
                          }}"
                          alt="Imagen producto"
                        />
                      </div>
                      <div>
                        <h6 class="mb-0 font-size-14">
                          <a
                            href="javascript:void(0);"
                            class="text-dark decoration"
                            >{{ producto.Producto }}</a
                          >
                        </h6>
                        <span class="text-muted font-size-13">{{
                          producto.Categoria
                        }}</span>
                      </div>
                    </div>
                    <span class="badge rounded-pill badgecyan">
                      <span class="font-weight-semibold ms-1 font-size-12"
                        >+{{ producto.Ventas }}</span
                      >
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="mb-0">Pedidos Estado</h5>
            <div
              class="d-flex align-items-center position-relative mb-5 mt-5"
              style="height: 200px"
            >
              <div
                class="w-100 position-absolute"
                style="height: 200px; top: 0"
              >
                <div class="chartjs-size-monitor">
                  <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                  </div>
                  <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                  </div>
                </div>
                <canvas
                  #statusChartx
                  class="chart chartjs-render-monitor"
                  id="status-chart"
                  style="display: block; width: 350px; height: 200px"
                  width="350"
                  height="200"
                ></canvas>
              </div>
              <h2 class="w-100 text-center text-large mb-0 font-weight-bold">
                {{ porestatus[3] }}
              </h2>
            </div>
            <div class="row pt-3">
              <div class="col-md-8 ms-auto me-auto">
                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <p class="m-b-0 d-flex align-items-center">
                    <span
                      class="p-2 me-2 bg-success border border-light rounded-circle"
                    ></span>
                    <span>Aprobado</span>
                  </p>
                  <h5 class="mb-0 font-size-16">{{ porestatus[0] }}</h5>
                </div>
                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <p class="mb-0 d-flex align-items-center">
                    <span
                      class="p-2 me-2 bg-primary border border-light rounded-circle"
                    ></span>
                    <span>Pendiente</span>
                  </p>
                  <h5 class="mb-0 font-size-16">{{ porestatus[1] }}</h5>
                </div>
                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <p class="mb-0 d-flex align-items-center">
                    <span
                      class="p-2 me-2 bg-danger border border-light rounded-circle"
                    ></span>
                    <span>Rechazado</span>
                  </p>
                  <h5 class="mb-0 font-size-16">{{ porestatus[2] }}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h5>Ordenes Recientes</h5>
              <div>
                <a
                  routerLink="/crm/fxcoins/pedidos"
                  class="btn btn-sm btn-outline-secondary"
                  >Ver Todo</a
                >
              </div>
            </div>
            <div class="mt-5">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Colaborador</th>
                      <th>Producto</th>
                      <th>Fecha</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pedido of lastProductos; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ pedido.Nombre_Completo }}</td>
                      <td>{{ pedido.Producto }}</td>
                      <td>{{ pedido.Fch_pedido }}</td>
                      <td>
                        <div class="d-flex align-items-center">
                          <span
                            class="p-2 me-2 border border-light rounded-circle"
                            [ngClass]="{
                              'bg-danger': pedido.IdStatus === 3,
                              'bg-success': pedido.IdStatus === 1,
                              'bg-primary': pedido.IdStatus === 2
                            }"
                          ></span>
                          <span>{{ pedido.Status }}</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-full-loader message="" *ngIf="loading"></app-full-loader>
  </div>
  <!-- Footer START -->
  <footer class="footer">
    <div class="footer-content">
      <p class="mb-0"> </p>
    </div>
  </footer>
  <!-- Footer END -->
</div>
