<div
  class="page-container"
  [ngClass]="{
    sidebar_is_full: app.sidebarState,
    sidebar_is_small: !app.sidebarState
  }"
>
  <!-- Content Wrapper START -->
  <div class="main-content">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link active"
          id="nav-home-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-home"
          type="button"
          role="tab"
          aria-controls="nav-home"
          aria-selected="true"
        >
          En Proceso <span class="badge bg-warning">{{ pendientes }}</span>
        </button>
        <button
          class="nav-link"
          id="nav-profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-profile"
          type="button"
          role="tab"
          aria-controls="nav-profile"
          aria-selected="false"
        >
          Aprobados <span class="badge bg-success">{{ realizados }}</span>
        </button>
        <button
          class="nav-link"
          id="nav-cancel-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-cancel"
          type="button"
          role="tab"
          aria-controls="nav-cancel"
          aria-selected="false"
        >
          Cancelados <span class="badge bg-info">{{ cancelados }}</span>
        </button>
        <button
          class="nav-link"
          id="nav-contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-contact"
          type="button"
          role="tab"
          aria-controls="nav-contact"
          aria-selected="false"
        >
          Eliminados <span class="badge bg-danger">{{ eliminados }}</span>
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-home"
        role="tabpanel"
        aria-labelledby="nav-home-tab"
      >
        <div class="row">
          <div class="col-12 xxx">
            <button
              class="btn add-hr btn-success"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasExample"
              aria-controls="offcanvasExample"
            >
              Agregar HR
            </button>
          </div>
          <div class="col-12">
            <app-datatableHR
              [dataList]="registros_pendientes"
              [config]="configDataTable"
              [loading]="loading"
            >
            </app-datatableHR>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="nav-profile"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
      >
        <app-datatableHR
          [dataList]="registros_aceptados"
          [config]="configDataTable"
          [loading]="loading"
        >
        </app-datatableHR>
      </div>
      <div
        class="tab-pane fade"
        id="nav-cancel"
        role="tabpanel"
        aria-labelledby="nav-cancel-tab"
      >
        <app-datatableHR
          [dataList]="registros_cancelados"
          [config]="configDataTable"
          [loading]="loading"
        >
        </app-datatableHR>
      </div>
      <div
        class="tab-pane fade"
        id="nav-contact"
        role="tabpanel"
        aria-labelledby="nav-contact-tab"
      >
        <app-datatableHR
          [dataList]="registros_eliminados"
          [config]="configDataTable"
          [loading]="loading"
        >
        </app-datatableHR>
      </div>
    </div>
  </div>
  <!-- Content Wrapper END -->
</div>

<!-- canvas -->
<div
  class="offcanvas offcanvas-start w-100"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
  data-bs-backdrop="false"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Agregar HR</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="card p-r">
      <div class="d-flex justify-content-center overlay" *ngIf="loadingHR">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div *ngIf="!inversionista.nombre" class="col-md-6">
            <h3 class="mb-0">Inversionista</h3>
            <div class="col-auto position-relative">
              <button
                (click)="buscar()"
                class="btn btn-success buscar position-absolute"
              >
                <i class="fas fa-search"></i>
              </button>
              <input
                class="form-control me-2 buscarinput"
                name="inversionistaemail"
                [(ngModel)]="inversionista.email"
                placeholder="Email"
                aria-label="Search"
                autocomplete="off"
                (keyup.Enter)="buscar()"
              />
              <div class="info-span mt-1">
                *Ingresa el email del Inversionista o
                <a
                  style="
                    cursor: pointer;
                    color: #0d6efd;
                    text-decoration: underline;
                  "
                  (click)="llamarmodal()"
                >
                  agrega un nuevo inversionista</a
                >
              </div>
            </div>
          </div>
          <div *ngIf="inversionista.nombre" class="col-md-6">
            <h3 class="mb-0">Inversionista</h3>
            <div class="position-relative">
              <input
                style="padding-left: 30px"
                class="form-control"
                disabled
                type="text"
                [(ngModel)]="inversionista.nombre"
              />
              <i
                style="top: 0.75rem; left: 10px"
                class="fas fa-user position-absolute"
              ></i>
            </div>
          </div>
          <div class="col-md-6">
            <h3 class="mb-0">Asesor</h3>
            <form class="row g-3 align-items-center">
              <input
                class="form-control me-2 search"
                id="search"
                type="search"
                placeholder="Search"
                aria-label="Search"
                (keyup)="searchAsesor()"
                autocomplete="off"
              />
              <div class="info-span mt-1">
                *Ingresa el nombre a buscar y seleccionalo de la lista
              </div>
              <div class="col-1 p-r">
                <div
                  class="d-flex justify-content-center loaderx"
                  *ngIf="loadingasesor"
                >
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
            </form>
            <div class="scrolling mt-5">
              <ul class="mylistasesor list-group" id="mylistasesor">
                <li
                  class="list-group-item list-group-item-action"
                  id="listaAse"
                  *ngFor="let item of asesores"
                  (click)="dataShow(item)"
                >
                  {{ item.Nombre_Colaborador }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 row mt-2">
            <h4 class="mb-2">Organigrama HR</h4>
            <div class="card-body">
              <form class="row g-3">
                <div class="col-md-6">
                  <label for="sociocomercial" class="form-label"
                    >Socio Comercial</label
                  >
                  <input
                    class="form-control"
                    name="sociocomercial"
                    [(ngModel)]="organigrama.Socio_Comercial"
                    readonly
                  />
                </div>
                <div class="col-md-6">
                  <label for="sr" class="form-label">Asesor</label>
                  <input
                    class="form-control"
                    name="invsenior"
                    id="fdfgfdds"
                    [(ngModel)]="organigrama.Asesor"
                    readonly
                  />
                </div>
                <div class="col-md-6">
                  <label for="promotor" class="form-label">Promotor</label>
                  <select
                    class="form-select"
                    [(ngModel)]="organigrama.IdPromotor"
                    name="promotor"
                    id="promotor"
                  >
                    <option [value]="null" disabled>
                      Selecciona un promotor
                    </option>
                    <ng-container *ngFor="let promotor of promotores">
                      <option [value]="promotor.IdPersona">
                        {{ promotor.Promotor }}
                      </option>
                    </ng-container>
                  </select>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mt-4">
          <h5>Lote adquirido</h5>
          <div class="row">
            <div class="form-group col-lg-4 col-md-6 mb-1">
              <label class="form-label label-ref" for="desarollo"
                >Desarrollo</label
              >
              <select
                class="form-select desarrollo validar"
                id="desarrollo"
                autocomplete="off"
                (change)="fillEtapas($event)"
                required
              >
                <option value="" selected disabled>
                  Seleccione Desarrollo
                </option>
                <option
                  [value]="desarrollo.IdDesarrollo"
                  *ngFor="let desarrollo of desarrollos"
                >
                  {{ desarrollo.Desarrollo }}
                </option>
              </select>
            </div>

            <div class="form-group col-lg-4 col-md-6 mb-1 p-r" id="etapaname">
              <div
                class="d-flex justify-content-center loaderx"
                *ngIf="loadingdes"
              >
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              <label
                *ngIf="des.IdDesarrollo != 12"
                class="form-label label-ref x"
                for="etapa"
                >Etapa</label
              >
              <select
                name="etapa[]"
                id="etapa"
                class="form-select etapa"
                autocomplete="off"
                (change)="fillLotes($event)"
                required
              >
                <option selected value="">Seleccione Etapa</option>
                <option [value]="etapa.IdFase" *ngFor="let etapa of etapas">
                  {{ etapa.Fase }}
                </option>
              </select>
            </div>

            <div class="form-group col-lg-4 col-md-6 mb-1 p-r" id="lotename">
              <div
                class="d-flex justify-content-center loaderx"
                *ngIf="loadinglote"
              >
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              <label class="form-label label-ref lx" for="lote">Lote</label>
              <select
                class="form-select lote"
                id="lote"
                autocomplete="off"
                (change)="seleccionarLote($event)"
                required
              >
                <option selected disabled value="">Seleccione Lote</option>
                <option [value]="lote.IdLote" *ngFor="let lote of lotes">
                  {{ lote.nombre }}
                </option>
              </select>
            </div>

            <div class="form-group col-lg-4 col-md-6 mb-1 precio" id="precio">
              <label class="form-label label-ref" for="preciom2"
                >Precio m<sup>2</sup></label
              >
              <input
                type="number"
                class="form-control preciom2"
                value=""
                name="preciom2[]"
                id="preciom2"
                placeholder="Precio"
                (keyup)="calcularTotal()"
                required
              />
            </div>

            <div class="form-group col-lg-4 col-md-6 mb-1 m2" id="m2">
              <label class="form-label label-ref" for="m2"
                >M<sup>2</sup> del lote</label
              >
              <input
                type="tel"
                class="form-control m2lote"
                id="m2lote"
                value=""
                name="m2lote[]"
                placeholder="lote"
                disabled
              />
              <input type="hidden" name="coins[]" class="coins" value="" />
            </div>

            <div class="col-lg-4 col-md-6 costototal mb-1">
              <label class="label-ref" for="preciototal"
                >Costo total del lote</label
              >
              <input
                type="tel"
                class="form-control preciototal"
                id="preciototal"
                name="preciototal[]"
                placeholder="Precio total"
                disabled
              />
            </div>

            <div class="col-lg-4 col-md-6" id="0">
              <label class="label-ref" for="formacompra">Financiamiento</label>
              <select
                class="form-select formacompra validar"
                id="formacompra"
                (change)="mensualidad($event)"
                name="formacompra[]"
                autocomplete="off"
                required
              >
                <option value="" selected disabled>
                  Seleccione una opcion
                </option>
                <option value="1" id="optioncontado">Contado</option>
                <option value="2" id="optionfinanciado">Financiado</option>
              </select>
            </div>

            <div class="col-lg-4 col-md-6" id="financiado">
              <div id="financiadodelete"></div>
            </div>

            <div class="col-lg-4 col-md-6" id="enganche">
              <div id="enganchedelete"></div>
            </div>

            <div class="col-lg-12 mt-5 mb-1">
              <button class="btn btn-success" (click)="continuar()">
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal-mio modal fade"
  id="agregarinv"
  tabindex="1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Registro Inversionista
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form name="login" id="login" autocomplete="off">
          <div class="row">
            <div class="col-md-6">
              <label for="nombre" class="form-label">Nombre(*)</label>
              <input
                type="text"
                class="form-control"
                name="nombre"
                placeholder="Nombre"
                value=""
                [(ngModel)]="registro.Nombre"
              />
            </div>
            <div class="col-md-6">
              <label for="segundonombre" class="form-label"
                >Segundo Nombre</label
              >
              <input
                type="text"
                class="form-control"
                name="segundonombre"
                placeholder="Segundo Nombre"
                [(ngModel)]="registro.Nombre_S"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <label for="nombre" class="form-label"
                >Apellido paterno (*)</label
              >
              <input
                type="text"
                class="form-control"
                name="nombre"
                [(ngModel)]="registro.Apellido_Pat"
                placeholder="Apellido Paterno"
              />
            </div>
            <div class="col-md-6">
              <label for="segundonombre" class="form-label"
                >Apellido materno</label
              >
              <input
                type="text"
                class="form-control"
                name="segundonombre"
                [(ngModel)]="registro.Apellido_Mat"
                placeholder="Apellido materno"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <label for="nombre" class="form-label"
                >Correo electrónico (*)</label
              >
              <input
                type="text"
                class="form-control"
                name="nombre"
                [(ngModel)]="registro.Email"
                placeholder="Correo electrónico"
              />
            </div>
            <div class="col-md-6">
              <label for="segundonombre" class="form-label">Telefono (*)</label>
              <input
                type="number"
                class="form-control"
                name="segundonombre"
                [(ngModel)]="registro.Num_Cel"
                placeholder="Telefono"
              />
            </div>
            <div class="form-group mt-4 text-center">
              <div class="ss m-t-30">
                <button
                  class="btn btn-secondary me-2"
                  id="form-send2"
                  (click)="regresar()"
                >
                  <b *ngIf="!loading"> Cancelar </b>
                </button>
                <button
                  class="btn btn-dark"
                  id="form-send2"
                  (click)="registro_persona()"
                >
                  <b *ngIf="!loading"> Registrar </b>
                  <div
                    *ngIf="loading"
                    class="spinner-border text-light"
                    role="status"
                  >
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
