<div class="page-container"
  [ngClass]="{'sidebar_is_full': app.sidebarState, 'sidebar_is_small': !app.sidebarState}">
  <!-- Content Wrapper START -->
  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="card card-work">
          <div class="card-header">
            Subir Leads
          </div>
          <div class="card-body">
            <div class="file-upload">
              <!-- upload file -->
              <div class="file-upload-wrapper" id="excel" data-text="Arrastre o seleccione un archivo">
                <label for="formfile" class="form-label">
                  <span class="text-title-cv" (click)="actualizarLeads()" id="text-title-leads">ARRASTE O SELECCIONE UN ARCHIVO ALGUN ARCHIVO
                    CVS O DE EXCEL</span>
                      <input
                        class="file-oculto"
                        type="file"
                        name="lead"
                        (change)="onFileChange($event)"
                        id=""
                        [(ngModel)]="archivo"
                        accept=".csv,.xls,.xlsx"
                      />
                      
                </label>
  
              </div>
              <div class="progress progreso-lead" id="progresos">
                <div class="progress-bar progress-bar-striped progress-bar-animated" id="progreso" role="progressbar"  aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <!-- <button type="button" class="btn btn-success mt-5 send disabled" id="send"
                (click)="subir()">Subir</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-pasos></app-pasos> -->