#buscar_cumple{
    padding-left: 30px;
    font-size: 15px;
    width: auto;
}
#mes{
    display: inline;
    width: auto;
}
/*Cards*/
.card-cumple{
    height: 402px;
    margin-bottom: 30px;
  }
.text-md-right {
    text-align: right;
}
.input-affix{
    position: relative;
    width: auto;
}
.fa-search{
    position: absolute;
    left: 10px;
    top:11px;
}
@media screen and (max-width:768px) {
    .text-md-right{
        text-align: initial;
    }
}
