<div class="side-nav" [ngClass]="{
    sidebar_full: app.sidebarState,
    sidebar_small: !app.sidebarState
  }">
  <div class="side-nav-inner">
    <div class="text-center">
      <img id="logo" src="assets/img/x-logo-dos.png" alt="" />
    </div>
    <ul id="menu">
      <li [routerLink]="['/Inicio/']" routerLinkActive="page_active">
        <img src="https://greenpark.mx/img/iconos_inversionista/icon-resumen-activo.svg" alt="" /><a>Resumen</a>
      </li>
      <li [routerLink]="['/Inicio/configuracion/perfil']" routerLinkActive="page_active" *ngIf="renderMenus.includes(4)">
        <i  class="fas fa-portrait"></i> &nbsp;
        <a>Perfiles</a>
      </li>
      <li [routerLink]="['/Inicio/configuracion/usuario']" routerLinkActive="page_active"
        *ngIf="renderMenus.includes(1)">
        <img src="https://greenpark.mx/img/iconos_inversionista/icon-pagos-on.svg" alt="" />
        <a>Configuracion</a>
      </li>
      <li [routerLink]="['/Inicio/reportes/estadisticas']" routerLinkActive="page_active"
        *ngIf="renderMenus.includes(2)">
        <img src="https://greenpark.mx/img/iconos_inversionista/icon-inversiones-on.svg" alt="" />
        <a>Estadisticas</a>
      </li>
      <li [routerLink]="['/Inicio/reportes/consultas']" routerLinkActive="page_active" *ngIf="renderMenus.includes(3)">
        <i class="fas fa-clipboard-list me-2"></i> <a>Reportes</a>
      </li>
    </ul>
    <div class="d-flex justify-content-center">
      <img style="width: 80%  ;   position: absolute;
        bottom: 0;" src="https://greenpark.mx/img/iconos_inversionista/inversionistas.png" alt="" />
    </div>
  </div>
</div>