<div
  class="side-nav"
  [ngClass]="{
    sidebar_full: app.sidebarState,
    sidebar_small: !app.sidebarState
  }"
>
  <div class="side-nav-inner">
    <div class="text-center">
      <img
        id="logo"
        src="assets/img/x-logo-dos.png"
        alt=""
      />
    </div>
    <ul id="menu">
      <!-- <li [routerLink]="['/configuracion/perfil']" routerLinkActive="page_active">
        <a>Perfil</a>
      </li> -->
      <li [routerLink]="['/']" routerLinkActive="page_active">
        <img
          src="https://greenpark.mx/img/iconos_inversionista/icon-resumen-activo.svg"
          alt=""
        /><a>Resumen</a>
      </li>

      <li [routerLink]="['app/pagos/']" routerLinkActive="page_active">
        <img
          src="https://greenpark.mx/img/iconos_inversionista/icon-pagos-on.svg"
          alt=""
        />
        <a>Pagos</a>
      </li>
      <li [routerLink]="['app/inversiones']" routerLinkActive="page_active">
        <img
          src="https://greenpark.mx/img/iconos_inversionista/icon-inversiones-on.svg"
          alt=""
        />
        <a>Mis Inversiones</a>
      </li>      
      <li [routerLink]="['app/asistencia/']" routerLinkActive="page_active">
        <i class="fas fa-headset me-2"></i> <a>Asistencia</a>
      </li>
    </ul>
    <div class="d-flex justify-content-center">
      <img 
        style="width: 80%  ;   position: absolute;
        bottom: 0;"
        src="https://greenpark.mx/img/iconos_inversionista/inversionistas.png"
        alt=""
      />
    </div>
  </div>
</div>
