<div class="row m-b-30 m-t-30">
    <div class="col-lg-8">
        <div class="d-md-flex">
            <h1>Administrador de Empresas</h1>
        </div>
    </div>
    <div class="col-lg-4 text-right">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#empresaModal">
            <i class="fas fa-plus-circle m-r-5"></i>
            Agregar Empresa
        </button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover e-commerce-table desarrollo-table">
        <thead>
            <tr>
                <th scope="col">Razon social</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empresa of empresas">
                <td>{{empresa.RazonSocial}}</td>
                <td>
                    <a [routerLink]="'editarempresa/'+empresa.IdEmpresaDes"
                        class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="spinner-grow" role="status" *ngIf="empresas.length < 1">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="empresaModal" tabindex="-1" aria-labelledby="empresaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="empresaModalLabel">Agregar empresa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="mb-3">
                            <label for="nombreEmpresa" class="form-label">Nombre de la empresa</label>
                            <input type="text" class="form-control" id="nombreEmpresa" [(ngModel)]="newEmpresa">
                            <input type="hidden" id="idUsuario" name="idUsuario" value="Ulises">
                            <div id="feedbackNombreEmpresa" class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="guardar()" data-bs-dismiss="modal" [disabled]="isLoading">Crear</button>
            </div>
        </div>
    </div>
</div>