<!-- canvas -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">
            Información del Proceso
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div *ngIf="spinner == true; else elseBlock" class="d-flex justify-content-center align-items-center h-100">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="offcanvas-body">
            <form class="row g-3 needs-validation" id="form" novalidate>
    
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" [(ngModel)]="item.Fullname" [ngModelOptions]="{standalone: true}" disabled>
                </div>
                <div class="col-md-6">
                    <label for="asesor" class="form-label">Asesor</label>
                    <input type="text" class="form-control" id="asesor" [(ngModel)]="item.Asesor" [ngModelOptions]="{standalone: true}" disabled>
                </div>
                <div class="col-md-6">
                    <label for="asignado" class="form-label">Asignación</label>
                    <input type="text" class="form-control" id="asignado" [(ngModel)]="item.Fecha" [ngModelOptions]="{standalone: true}" disabled>
                </div>
                <div class="col-md-6">
                    <label for="plataforma" class="form-label">Plataforma</label>
                    <input type="text" class="form-control text-uppercase" id="plataforma" [(ngModel)]="item.Plataforma" [ngModelOptions]="{standalone: true}" disabled>
                </div>
                <div class="col-md-12">
                    <label for="campania" class="form-label">Campaña</label>
                    <input type="text" class="form-control" id="campania" [(ngModel)]="itemLead.Campaign_name" [ngModelOptions]="{standalone: true}" disabled>
                </div>
                <div class="col-md-12">
                    <label for="campania" class="form-label">Temperatura</label>
                    <!-- <input type="text" class="form-control" id="campania" [(ngModel)]="item.Temp" [ngModelOptions]="{standalone: true}" disabled> -->
                    <select class="form-select" [(ngModel)]="item.Temp" [ngModelOptions]="{standalone: true}" disabled="">
                        <option *ngFor="let zona of listarZonas" [value]="zona.IdZonaLead">{{zona.nombre | titlecase}}
                    </option>
                    </select>
                </div>
                <hr>
                <div class="col-md-12">
                    <div class="alert" [ngClass]="{'alert-info': tiempo > 0, 'alert-warning': tiempo > 3}" role="alert">
                        <p *ngIf="tiempo == 0">Tiempo desde la Asignacion <strong>Hoy</strong></p>
                        <p *ngIf="tiempo != 0">Tiempo desde la Asignacion <strong>{{ tiempo }} Días</strong></p>
                    </div>
                </div>
                <!-- <div class="col-md-6" *ngIf="tiempo > 3 && tiempo <= 3;">
                    <button type="button" class="btn btn-danger" (click)="recordar();">Recordatorio</button>
                </div> -->
                <div class="col-md-6" >
                    <button type="button" class="btn btn-danger" (click)="recordar(item)">Recordatorio</button>
                </div>
                <div class="col-md-6" *ngIf="tiempo >= 4 && item.PasosLeads === 1">
                    <label for="asignar" class="form-label">Socios Comerciales</label>
                    <select class="form-select" id="asignar" [(ngModel)]="item.IdAsesor1" name="asignar">
                        <option id="asignado" value="{{items.IdPersona}}"  *ngFor="let items of SociosComerciales">{{items.Nombre_completo}}</option>
                    </select>
                </div>
                <div class="col-md-6 d-flex align-items-end" *ngIf="tiempo >= 4 && item.PasosLeads === 1">
                    <button type="button" class="btn btn-success" (click)="reasignar()">Reasingnar</button>
                </div>
            </form>
        </div>
    </ng-template>
    
</div>