<div class="page-container" [ngClass]="{'sidebar_is_full': app.sidebarState, 'sidebar_is_small': !app.sidebarState}">

    <!-- Content Wrapper START -->
    <div class="main-content">
        <app-data-reclu [dataList]="personas" [config]="configDataTable" [loading]="loading"></app-data-reclu>
        <!-- <div class="circulo d-flex">
            <div class="div"><button style="color: #1C6C40;" (click)="exportAsExcelFile()"><i class="far fa-file-excel"></i></button>
            </div>
            <div class="div" style="border-left: 1px solid gray;"><button style="color: #FF0000 ;" (click)="imprimir()"><i class="far fa-file-pdf"></i></button>
            </div>
        </div> -->
        <div  class="botones">
            <button id="escondete" class="btn btn-primary"><i class="fas fa-cloud-download-alt"></i></button>
            <button  class="pdfbtn"  style="color: #FF0000 ;" (click)="imprimir()"><i class="far fa-file-pdf"></i></button>
            <button class="excelbtn" style="color: #1C6C40;" (click)="exportAsExcelFile()"><i class="far fa-file-excel"></i></button>
            <button class="btn btn-primary"><i class="fas fa-cloud-download-alt"></i></button>
        </div>
    </div>
    <!-- Content Wrapper END -->

    <!-- Footer START -->
    <footer class="footer">
        <div class="footer-content">
            <p class="mb-0"> </p>
        </div>
    </footer>
    <!-- Footer END -->

</div>