<div class="page-container" [ngClass]="{'sidebar_is_full': app.sidebarState, 'sidebar_is_small': !app.sidebarState}">

    <!-- Content Wrapper START -->
    <div class="main-content">
        <app-full-loader message="" *ngIf="loading"></app-full-loader>
        <div class="row mb-4">
            <div class="col-md-6 col-lg-3 mt-4 mb-4">
                <div class="card sc" data-bs-toggle="modal" data-bs-target="#Socios">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="avatar avatar-icon avatar-lg avatar-blue">
                                <i class="fas fa-user-tie"></i>
                            </div>
                            <div class="ms-3">
                                <h2 class="mb-0 font-weight-bold">{{contadorPersonas.sc}}</h2>
                                <p class="mb-0 text-muted">Socios Comerciales</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="avatar avatar-icon avatar-lg avatar-cyan">
                                <i class="fas fa-users"></i>
                            </div>
                            <div class="ms-3">
                                <h2 class="mb-0 font-weight-bold">{{contadorPersonas.il}}</h2>
                                <p class="mb-0 text-muted">Inversionistas Lider</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="avatar avatar-icon avatar-lg avatar-gold">
                                <i class="fas fa-user-friends"></i>
                            </div>
                            <div class="ms-3">
                                <h2 class="mb-0 font-weight-bold">{{contadorPersonas.is}}</h2>
                                <p class="mb-0 text-muted">Inversionistas Senior</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="avatar avatar-icon avatar-lg avatar-purple">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="ms-3">
                                <h2 class="m-b-0 font-weight-bold">{{contadorPersonas.ij}}</h2>
                                <p class="m-b-0 text-muted">Promotor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">

            <div class="col-md-12 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>Usuarios Registrados</h5>
                        </div>
                        <div class="buttonsyears d-flex justify-content-end">
                            <button class="btn btn-primary btn-years me-1 2020" id="2020" (click)="veranio($event);" value="2020">2020</button>
                            <button class="btn btn-primary btn-years me-1 2021" id="2021" (click)="veranio($event);" value="2021">2021</button>
                            <button class="btn btn-primary btn-years 2022" id="2022" (click)="veranio($event);" value="2022">2022</button>
                        </div>
                        <div class="mt-5" style="">
                            <div class="canvasChart chartlastuser col-xl-12 col-lg-12 col-md-12 ms-auto me-auto">
                                <canvas class="chart chartlastuser chartjs-render-monitor" #chartlastuser id="chartlastuser" style="display: block;"></canvas>
                                <div class="col-12 titleTotalInv">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="mb-0">Usuarios</h5>
                        <div class="d-flex align-items-center position-relative mb-5 mt-5" style="height:200px;">
                            <div class="w-100 position-absolute" style="height:200px; top:0;">
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>
                                <canvas class="chart chartjs-render-monitor" #customersChart id="customers-chart"
                                    style="display: block; width: 367px; height: 200px;" width="367"
                                    height="200"></canvas>
                            </div>
                            <h2 class="w-100 text-center text-large mb-0 font-weight-bold"> {{contadorPersonas.total}} </h2>
                        </div>
                        <div class="row border-top pt-4">
                            <!--                                      <div class="col-4 m-v-10">
                                <div class="d-flex justify-content-center">
                                    <div class="media align-items-center">
                                        <span class="badge badge-warning badge-dot m-r-10"></span>
                                        <div class="m-l-5">
                                            <h4 class="m-b-0"> 460 </h4>
                                            <p class="m-b-0 muted">Total</p>
                                        </div>    
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-6 mb-3 mt-3">
                                <div class="d-flex justify-content-center">
                                    <div class="media align-items-center">
                                        <span class="badge  badge-success badge-dot me-2"></span>
                                        <div class="ms-2 text-center">
                                            <h4 class="mb-0"> {{contadorPersonas.ac}} </h4>
                                            <p class="mb-0 muted">Activos</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mb-3 mt-3">
                                <div class="d-flex justify-content-center">
                                    <div class="media align-items-center">
                                        <span class="badge badge-danger badge-dot me-2"></span>
                                        <div class="ms-2 text-center">
                                            <h4 class="mb-0"> {{contadorPersonas.dc}} </h4>
                                            <p class="mb-0 muted">No activos</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>Ultimos Registros</h5>
                            <div>
                                <a routerLink="/crm/rh/reclutamiento"
                                    class="btn btn-sm btn-default border">Ver Todo</a>
                            </div>
                        </div>
                        <div class="mt-4">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre</th>
                                            <th>Puesto</th>
                                            <th>Fecha</th>
                                            <th>Estatus</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let persona of ultimosRegistros">
                                            <td>{{persona.IdPersona}}</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="d-flex align-items-center">
                                                        <!--                               <div class="avatar avatar-image" style="height: 30px; min-width: 30px; max-width:30px">
                                                            <img src="assets/images/avatars/thumb-1.jpg" alt="">
                                                        </div> -->
                                                        <h6 class="mb-0">{{persona.Nombre_Persona}} </h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{persona.Nivel}}</td>
                                            <td>{{persona.Fecha}}</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="badge badge-info badge-dot me-1"></span>
                                                    <span>{{persona.EstatusGeneral}}</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Content Wrapper END -->

    <!-- Footer START -->
    <footer class="footer">
        <div class="footer-content">
            <p class="mb-0"> </p>
        </div>
    </footer>
    <!-- Footer END -->

</div>

<div class="modal fade" id="Socios" tabindex="-1" aria-labelledby="SociosLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SociosLabel">Socios comerciales</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-end">
                <button (click)="ReporteCompleto()" class="btn btn-primary">Reporte global socios</button>
            </div>
            <ul class="list-group list-group-flush">
                <li (click)="exportExcel(socio)" *ngFor="let socio of socios" class="list-group-item socios d-flex justify-content-between"> 
                   <h3>{{socio.Nombre}}</h3>
                    <p>Clic para generar reporte</p>
                </li>
              </ul>
        </div>
      </div>
    </div>
  </div>